<a href="https://colab.research.google.com/github/qua2000/OoH-Py_J2/blob/main/OoH!Py_%E5%B0%8F%E5%AD%A6%E7%94%9F%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AEPython_Colab%E3%81%A7Python_Vol_2_Python_for_Kids!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***OoH!Py*** ***小学生のためのPython*** ColabでPython Vol.2

#**Python for Kids!**

In [ ]:
#@title
%%html
<marquee style='width: 60%; color: white;'><b>Welcome to OoH!Py</b></marquee>

#ダークモードで

ダークモードになっていなかったら，右上の歯車アイコンをクリックして「モード」を「dark」にすると

ダークモードに変わります。

#**はじめに読んでください**

こんにちは！

このノートは，「OoH!Py 小学生のためのPython ColabでPython」のVol.2です。

まず初めにVol.1を見てください。---> [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1Hzemf7Y5Ff-rWKDMnuJWfhndsOH4qXEV?usp=sharing)

受験勉強を始める前にVol.2を出すことができました。

Vol.2でも遊びながらPythonを楽しんでください。

\
英語版

OoH!Py Python for Kids Vol.2 --->[ ![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1XHj0GIkct4zI5ni-oUK2aGt023gyuwVB?usp=sharing)

---
#演算子などの一覧

★算術演算子(さんじゅつえんざんし / Arithmetic operator）

\

| 演算 | 記号 |
|------|------|
| 足し算 | `+` |
| 引き算 | `-` |
| かけ算 | `*` |
| 割り算 | `/` |
| べき乗 | `**` |  
| 割り算(商だけ） | `//` |
| 割り算(余りだけ） | `%` |

\

★代入演算子(Assignment operator)

足し算して代入： `sum = sum + x` → `sum += x`\
かけ算して代入： `product = product * x` → `product *= x`

`=`も代入演算子で，演算は「代入する」

\

| 演算 | 記号 |
|------|------|
| 代入する | `=` |
| 足し算して代入| `+=` |
| 引き算して代入 | `-=` |
| かけ算して代入 | `*=` |
| 割り算して代入 | `/=` |

\

★比較演算子(Comparison operator)

\

| 意味 | 演算子 |
|------|------|
| 等しい | `==` |
| 等しくない | `!=` |
| より小さい | `<` |
| 以下 | `<=` |
| より大きい | `>` |
| 以上 | `>=` |
| 要素になっている | `in` |
| 要素になっていない | `not in` |

\

---
＜Check it Out＞

コンピュータがプログラムを読んで動く(計算する）とき，その動き方は3種類しかない

コンピュータはそれくらいシンプルなんですね

\
➀プログラムが書かれた(上から下へ)順番に動く

②繰り返し動く

③条件で動きが分かれる(条件分岐・じょうけんぶんき→場合分けのこと）

\
②はfor文のことで，③はif文のことです

＜Check it Out 2＞

算数の問題は，問題文を正確に読み，問題文に書かれている条件を自分が理解しやすいように

整理できればほとんど解けますよね。

\
問題を正確に解釈して条件整理をすることが大切なわけです。

\
Pythonでも同じで，数や文字などのデータ(情報とも言うようです）

を整理できればプログラムが作れますので

どのようにデータを整理するかを考えることが大切です。

\
コード作成のテクニックは基本が身についていればすぐに覚えられます。

\
今のうちに`考える力(基本力）`を養いましょう。

---
#Pythonの参考Colab

Python入門のサイトはたくさんあるので，ここに書いたのはあくまで参考です

[Python入門(Colab)](https://colab.research.google.com/github/chainer/tutorials/blob/master/ja/02_Basics_of_Python.ipynb)

Colabを使ってPythonの基本が学べるのでおすすめです。

これからコードセルに自分でコードを書いて実行▶すると，エラーがよく発生すると思いますが

エラーについては，エラーが出たときにでもこのサイトを見てみましょう

[Pythonプログラミング入門](https://utokyo-ipp.github.io/index.html)

Colabの説明とPython学習ができるサイトですが，かなりくわしいので

分からないときの参考書とするのがよいのでは

サイトの中の

![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)

をクリックするとColabのページになります

[Python早見帳](https://chokkan.github.io/python/index.html)

これもかなり高度な内容が含まれていますが，参考として

ここの記事もColabで見れます

Pythonについて他に調べたいときは，

[note.nkmk.me](https://note.nkmk.me/)

で見てみたりもしましたが，これもかなりくわしいです

「サイト内検索」に書いてEnterで，いろいろ説明が出てきます

[Python Basics](https://colab.research.google.com/github/jckantor/CBE30338/blob/master/docs/01.02-Python-Basics.ipynb)

英語です。

内容はそれほど多くないです。

#Vol.1からの続き

---
### 組み込み関数

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

よく使う`print()`は`print関数`といいます

\
`関数`というのは，決められた操作をするプログラムのことです

print(), input(), int(), float()などは全部関数で，

`組み込み関数`(くみこみかんすう） (built-in function・ビルト-イン ファンクション)といいます

文字通りPythonに組み込まれている関数で，importすることなく使うことができます

\
たとえば`print()`は実は何十行からなるプログラムなので，使うつどそれをかいてたら死んでしまいます

それを関数にすると`print()`だけのコードでOKになります

---
Q?

100未満の数のうち，3で割り切れるが5で割り切れない数を小さいほうから10個書きなさい

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

「3で割り切れるが5で割り切れない数」は3と5の最小公倍数15を1周期として繰り返しでてくる

\
1から15までの中であてはまる数を調べると，3，6，9，12

15から30までの1周期では，上の4つの数に15を加えた数で，18，21，24，27

あと2つは，31から45までの中で，18＋15＝33，21＋15＝36

以上の10個が(答)

\
＜[ Python ]

10個まで数える`count`変数をはじめに0にしておく

\
1から99までの数(データ)を順番に取り出してあてはまるか調べる

\
「3で割り切れるが5で割り切れない」は`x % 3 == 0 and x %  5 != 0`

あてはまる数をprintして，`count += 1`

\
さらに，「countが10になった場合は中断」という条件処理を入れる

` if count == 10:`

&emsp;`break`

このif条件文のインデントに注意

In [ ]:
#Sanple

count = 0

for x in range(100):
  if x % 3 == 0 and x % 5 != 0:
    print(x, end = ', ')
    count += 1
    if count == 10:
      break

---
Q?

0から99までの数のうち，3の倍数でない数の和を計算してください

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

0から99までで3の倍数でない数の個数は，$99×\dfrac{2}{3}＝66個$

0をのぞくと一番小さい数は1で，一番大きな数は98

その和は，$(1＋98)×66÷2＝3267$・・・(答)

\
＜[ Python ]

和の`total`(トータル＝「合計」の英語)変数を0に設定し，

0から99までの数(データ)を順番に調べて，あてはまる数を`total`に足していく

In [ ]:
#コードサンプル

total = 0

for i in range(0,100):
  if i % 3 != 0:
    total += i
    #print(total, end =', ')   #sumの変化観察用

print(total, '・・・(答)')

In [ ]:
#sample code

for x in range(1,11):
  for y in range(1,40):
    for z in range(1,108):
      if 10 * x + 3 * y + z == 107 and 1900 * x + 500 * y + 180 * z == 19900:
        print ("The number of bags sold is ", y, " bags and in this case, x = ",  x, ",  y = ",  y, ",  z = ", z, "was sold.")

The number of bags sold is  4  bags and in this case, x =  8 ,  y =  4 ,  z =  15 was sold.

---
Q?

1個160円のりんごと，1個240円のメロンを合わせて10個買い，合計金額が1840円になった。

それぞれいくつずつ買ったのか求めなさい。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

つるかめ算で解くのがフツーでしょうが，消去算で解きます

\
りんごをx個，メロンをy個買ったとして問題文を式に表すと，

x ＋ y ＝ 10　・・・➀

160 × x ＋ 240 × y ＝ 1840

\
両辺を80で割ると

2 × x ＋ 3 × y ＝ 23　・・・②

➀，②を消去算で，x ＝ 7，y ＝ 3　・・・(答)

\
＜[ Python ]

りんごをx個，メロンをy個買ったとするとどちらも10個以内なので

(もっと正確に，1840 ÷ 240 ＝ 7…160だから，yは7個まででもよい）

\
x，yともに1~10個の範囲ですべての組み合わせで考えるとき

`for x in range(1,11):`

&emsp;`for y in range(1,11):`

とforの2重ループにすると，x，yのすべての組み合わせができる

\
条件としては

`if x + y == 10 and 160 * x + 240 * y == 1840:`

条件にあうx，yを見つけて

`print("りんごを", x, "個で，メロンを", y, "個")`

In [ ]:
#sample code

for x in range(1, 11):
  for y in range(1, 11):
    if x + y == 10 and 160 * x + 240 * y == 1840:
      print("りんごを", x, "個で，メロンを", y, "個")

---
Q?

1個160円のりんごと，1個240円のメロンをいくつずつか買ったところ，合計金額が1600円になった。

それぞれいくつずつ買ったのか考えられる個数をすべて求めなさい。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

不定方程式というやつです

りんごをx個，メロンをy個買ったとして問題文を式に表すと，

160 × x ＋ 240 × y ＝ 1600

両辺を80で割ると

2 × x ＋ 3 × y ＝ 20

\
2 × xと20は2の倍数なので，3 × yも2の倍数とわかることから，yは2の倍数

y＝2のとき，x＝7　・・・(答)

\
これがわかったら，yを2ずつ増やして，xを3ずつ減らしていくと

(このテクニックは覚えておくともっと数が大きい場合にラクです）

y＝4のとき，x＝4　・・・(答)

y＝6のとき，x＝1　・・・(答)

\
＜[ Python ]

りんごをx個，メロンをy個買ったとすると

1600 ÷ 160 ＝ 10と1600 ÷ 240 ＝ 6…160より，xは10個以内，yは6個以内なので

その範囲でxとyのすべての組み合わせで考えるとき

`for x in range(1,11):`

&emsp;`for y in range(1,7):`

とforの2重ループにすると，x，yのすべての組み合わせができる

\
条件としては

`if 160 * x + 240 *y == 1600:`

条件にあうx，yを見つけて，そのつどprint

`print("りんごを", x, "個で，メロンを", y, "個")`

In [ ]:
#sample code

for x in range (1, 11):
  for y in range (1, 7):
    if 160 * x + 240 * y == 1600:
      print(f"りんごを", x, "個, メロンを", y, "個ずつ買った")

---
Q?

１個の値段が180円の和菓子があります。

また，和菓子3個の袋詰めは１袋の値段が500円で，和菓子10個の箱詰めは１箱の値段が1900円です。

ある日の売り上げは19900円で，和菓子は全部で107個売れました。

この日の袋詰めは全部で何袋売れましたか。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

19900 ÷ 1900 ＝ 10…900　と　19900 ÷ 500 ＝ 39…400　から

箱詰めは多くても10箱，袋詰めは多くても39袋

\
箱詰めがx箱，袋詰めがy袋，1個売りがz個それぞれ売れたとして問題文を式に表すと，

全部で107個売れたから

10 × x ＋ 3 × y ＋ z ＝ 107　・・・➀

\
売り上げが19900円だったから

1900 × x ＋ 500 × y ＋ 180 × z ＝ 19900　・・・②

②の両辺を10で割って，190 × x ＋ 50 × y ＋ 18 × z ＝ 1990　・・・③

\
まずxを消去するために，① × 19 － ③で，7 × y ＋ z ＝ 43

あてはまるy，zの組を調べて，

(y，z)＝(6，1)，(5，8)，(4，15)，(3，22)，(2，29)，(1，36)，(0，43)

\
(z＝1，y＝6が見つかれば，zを7ずつ増やして，yを1ずつ減らす）

この組で，①の式からあてはまるxは，(y，z)＝(4，15)のときだけで，x＝8

よって，求めるy＝4・・・(答)

\
＜ Python ＞

箱詰めは多くても10箱，袋詰めは多くても39袋，1個売りは多くても107個

\
箱詰めがx箱，袋詰めがy袋，1個売りがz個それぞれ売れたとして，

xとyとzのすべての組み合わせで考えるとき

`for x in range(1,11):`

&emsp;`for y in range(1,40):`

&emsp;&emsp;`for z in range(1,108):`

とforの3重ループにすると，x，y，zのすべての組み合わせができる

\
条件としては

&emsp;&emsp;&emsp;`if 10 * x + 3 * y + z == 107 and 1900 * x + 500 * y + 180 * z == 19900:`

条件にあうx，y，zを計算して答(袋詰めの個数）を表示

&emsp;&emsp;&emsp;&emsp;`print("売れた袋詰めの数は", y, "袋で，これは，x=", x, ", y=" ,y, ", z=",z,"のときに成り立つ")`

\
インデントが多くなりますが分かりにくくはないでしょう

基本は`全ての場合を数え上げ，条件にあてはまる数を見つける`ことです

In [ ]:
#sample code

for x in range(1,11):
  for y in range(1,40):
    for z in range(1,108):
      if 10 * x + 3 * y + z == 107 and 1900 * x + 500 * y + 180 * z == 19900:
        print("売れた袋詰めの数は", y, "袋で，これは，x=", x, ", y=", y, ", z=", z, "のときに成り立つ")

売れた袋詰めの数は 4 袋で，これは，x= 8 , y= 4 , z= 15 のときに成り立つ

### 不等式



---
Q?

ある塾のA組からC組までの3つの組には，合計105人の生徒が在籍しており，

それぞれの組の生徒数に関して，次のア，イのことが分かっている。

\
ア：B組の生徒数の3倍は，A組の生徒数の2倍より5人以上多い。

イ：C組の生徒数は，A組からC組までの生徒数の合計の5割より7人以上少なく，
B組の生徒数より20人以上多い。

\
このとき，B組の生徒数は？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜[ Python ]

この問題は「5人以上」「7人以上」などの条件があるので，算数の問題として

考えるのはかなり大変ですのでPythonで考えます

\
比較演算子(下で確認)の，「以上」`>=`や「以下」`<=`を利用して，問題文の条件を不等式で表します

\
A，B，Cの人数は多くても105人なので，

それぞれ1~105人の間ですべての組み合わせをつくって条件にあう組み合わせを調べます

\
A，B，Cの組み合わせをつくるコードは

`for A in range(1,106):`

&emsp;`for B in range(1,106):`

&emsp;&emsp;`for C in range(1,106):`

\
問題の条件をif文にすると

&emsp;&emsp;&emsp;`if A + B + C == 105 and (B * 3 >= A * 2 + 5) and (C >= B + 20) and (C <= (A + B + C) * 0.5 - 7):`

これですべての組み合わせを調べてBを求めましょう

In [ ]:
#sample

for A in range(1,106):
  for B in range(1,106):
    for C in range(1,106):
      if A + B + C == 105 and (B * 3 >= A * 2 + 5) and (C >= B + 20) and (C <= (A + B + C) * 0.5 - 7):
        print("Bは",B,"人・・・(答)")
        print("そのときAは", A, "人，Cは", C, "人")

---
★比較する演算子

大きさなどの比較をする記号として

`比較演算子 (comparison operator)` (コンパリソン　オペレータ）があります 

これからよく見かけるようになります


| 意味 | 演算子 |
|:------:|:------:|
| 等しい | `==` |
| 等しくない | `!=` |
| より小さい | `<` |
| 以下 | `<=` |
| より大きい | `>` |
| 以上 | `>=` |
| 要素になっている | `in` |
| 要素になっていない | `not in` |

### 整数

---
Q?

25で割ると24あまり，16で割ると15あまる数の中で最も小さい数は？


＜算数解法＞

25で割ると24あまる数は(25の倍数)－1で，16で割ると15あまる数は(16の倍数)－1

ということは，求める数に1をたすと25でも16でも割り切れるということ

25でも16でも割り切れる数＝25と16の公倍数→25×16＝400

求める数に1をたすと400になるということだから，求める数＝399・・・(答)

\
＜[ Python ]

求める数xを1から1000くらいまでで調べる

順番に小さい数から調べるので，はじめに見つかった数が「最も小さい数」になる

1つ数が見つかったらforループ中断する

「25で割ると24あまり，16で割ると15あまる数」を条件で表すと，

 `if x % 25 == 24 and x % 16 == 15:`

 printした後は`break`で中断

In [ ]:
#sample

for x in range(1, 1000):
  if x % 25 == 24 and x % 16 == 15:
    print(x)
    break                      #1つ見つかったらおしまいにする

---
Q?

11で割ると9あまり，9で割ると7あまる整数のうち，4700に最も近い数は？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

割る数と余りの差に注目

11 － 9 ＝ 9 － 7 ＝ 2だからこの数は2をたすと11と9の公倍数になる

最も小さい数は，11 × 9 － 2 ＝ 97

\
4700に近い数を探す

4700 ÷ 99 ＝ 47.・・・だから，

99×47－2＝4651・・・＜答＞，99×48－2＝4750

\
＜ Python ＞

4700に最も近い数の候補をaとしてはじめは0にしておく

4000以上5000未満の範囲で探す

求める数は4700より大きい場合もあるから差が小さい数を探すために

`abs()`関数 ＝ 絶対値(差の大きさを求める関数プログラム)

\
順番に探していき，4700に近い候補xが見つかったらaに入れる

aにあてはまる数が入れ替わっていく

In [ ]:
#sample

a = 0

for x in range(4000, 5000):
  if x % 11 == 9 and x % 9 == 7 and abs(a - 4700) > abs(x - 4700):
    a = x

print(a)

4651

---
Q?

２桁の整数ＡＢがあります。間に0を入れて３桁の整数Ａ0Ｂを作ると，この数はＡＢで割り切れます。

また，両端と間に数字Ｃを入れて５桁の整数CACBCを作ると，この数もＡＢで割り切れます。

このとき，５桁の整数CACBCは□です。

ただし, A, B, Cはすべて異なる数字で，どれも0ではないとします。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

問題文から，AB $\times$ N = A0B とすると，

まずは，Nは1でない

次に，(B × Nの一の位) = Bとなる(B，N)＝(2，6)，(4，6)，(5，5)，(6，6)，(8，6)

\
(A0Bの十の位) ＝ 0だから，上の組で，(B × Nの十の位) ＝ 1，2，2，3，4で，

(A × 5か6の一の位) ＝ 9，8，8，7，6 となるAは，１，３，６，８で，

AB × N ＝ A0BにあてはまるのはA ＝ 1で，B ＝ 8，N ＝ 6

\
さらに，CACBCの一の位＝Cで，B×(数)の一の位は0，2，4，6，8だから，Cはこれのどれか

2，4，6，8で調べて，C ＝ 6

したがって，CACBC ＝ 61686・・・＜答＞

[ Python ]

A，B，Cにそれぞれ1～9を当てはめて，

`x = A * 10 + B`と`y = A * 100 + B`と`z = C * 10000 + A * 1000 + C* 100 + B * 10 + C`

をつくり，問題の条件をif文で書いて，条件にあてはまるA，B，Cを求めて答えを出力

In [ ]:
#sample

for A in range(1, 10) :
  for B in range(1, 10) :
    for C in range(1, 10) :
      x = A * 10 + B
      y = A * 100 + B
      z = C * 10000 + A * 1000 + C* 100 + B * 10 + C
      if A != B and A != C and B != C and y % x == 0 and z % x == 0 :
        print(" CACBC=", z, "・・・＜答＞", "(AB=", x, " A0B=", y, ")")

###場合の数

---
Q?

ある店では模様の違うコーヒーカップ5種類とお皿が3種類売られています

カップとお皿の組み合わせは何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

1個ずつの組み合わせで，1個のコーヒーカップそれぞれに3種類のお皿の組み合わせがあるから

5 × 3 ＝ 15通り・・・(答)

\
＜[ Python ]

まず，組み合わせを数える変数`count`(カウント)を0に設定

\
コーヒーカップ(cup)を1，2，3，4，5とし，お皿(plate)を10，20，30としてすべての組み合わせを数え上げる

すべての組み合わせをつくるにはforループで

    for cup in  1, 2, 3, 4, 5 :
      for plate in 10, 20, 30 :

\
このforループで組み合わせができるごとにカウントする

        count += 1

全部数え終わったらcountをprintで出力

    print(count, '通り')

In [ ]:
#sample
count = 0
for cup in  1, 2, 3, 4, 5 :
  for plate in 10, 20, 30 :
    #print(cup, plate)
    count += 1
print(count, '通り')

---
Q?

2，5，6の3枚のカードをならべて3けたの数を作ると，全部でいくつできますか。

\
If you put three cards, 2, 5, and 6, together to make a three-digit number, 

how many cards can you make in total?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

百の位から決めていくと，百の位の数の選び方は，2，5，6の3通り

十の位の数の選び方は，百の位に使った数字以外の2通り

一の位の数の選び方は，百と十の位に使った数字以外の1通り

以上より，3 × 2 × 1 = 6通り・・・(答）

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜[ Python ]

カウントする変数`count`を0に設定

\
場合の数の数え上げができればよいので，２，５，６にかえて

２，50，600を使って，3つの数が異なる場合は，「合計が2 ＋ 50 ＋ 600 ＝ 652になること」

と条件を読みかえることができる

百の位をA，十の位をB，一の位をCとして，それぞれ2，50，600の場合で数え上げ，

合計の条件があてはまる場合をカウント

\
最後にカウンターの数をプリントする

`print(count)`

In [ ]:
#sample

count = 0

for A in 2,50,600:
  for B in 2,50,600:
    for C in 2,50,600:
      if A + B + C == 652:
        print(A, B, C)
        count += 1

print(count, "個")

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜Python リストの利用＞

2，5，6のカードを入れる`cards`という名前の箱(リスト）を作り，

`cards = [2, 5, 6]`

\
作った3けたの数の個数を数える`count`という名前のカウンターを作り，はじめは0としておく

`count = 0`

\
百の位を表す数を入れる変数(variable)を`x`として，`x`に2, 5, 6の順で数字を入れる

`for x in cards:`

十の位を表す数を入れる変数を`y`として，`y`に2, 5, 6の順で数字を入れる

&emsp;`for y in cards:`

一の位を表す数を入れる変数を`z`として，`z`に2, 5, 6の順で数字を入れる

&emsp;&emsp;`for z in cards:`

\
この手順で3けたの数を作ると，225，565，666など同じ数字が入っている数字もできる

3つとも違う数字でできた3けたの数だけをカウントするために，

「もし(if)数字が3つとも違っていたら」という場合だけカウントする

\
&emsp;&emsp;&emsp;`if x !=y and y != z and z != x:`

あてはまるx,y,zの組が見つかったらcountカウンターに1を加えていく

&emsp;&emsp;&emsp;&emsp;`count += 1`

最後にカウンターの数をプリントする

`print(count)`

In [ ]:
#sample

cards = [2, 5, 6]                                         
count = 0                                                  
for x in cards:
  for y in cards:
    for z in cards:
      if x !=y and y != z and z != x:
        #print(x,y,z)       #x,y,z)の組み合わせを確認したいとき(#をはずす) 
        count += 1
print(count, '個')

上ではcardsというリストを作ましたが，数も少ないので使わなくてもOK

In [ ]:
#another(別の) sample
                                       
count = 0                                                  
for x in 2,5,6:
  for y in 2,5,6:
    for z in 2,5,6:
      if x !=y and y != z and z != x:
        #print(x,y,z)       #x,y,z)の組み合わせを確認したいとき(#をはずす) 
        count += 1
print(count, '個')

###itertools

itertoolsというプログラムの集まり(＝moduleモジュール）の中のpermutations(順列という意味)や

combinations(組み合わせ)というプログラムを使うと順列や組み合わせをスッキリ書くことができますが，

それは将来のお楽しみということで，今はforやifを利用したコードでプログラムに慣れて下さい

\
興味ある人はググって調べてみて下さい

下はitertoolsを利用したコードです

In [ ]:
#itertoolsモジュールのpermutations関数を使う

import itertools

count = 0
cards = [2, 5, 6]
for x in itertools.permutations(cards, 3):
  print(x)                                       #できた組み合わせ確認用
  count += 1

print(count)

###関数(順列)

---
Q?

異なる5つの数から3つ選んで一列に並べるならべ方は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

これを算数で計算するときは，

5 × 4 × 3 ＝ 60通り

と計算できますね

では，異なる`a`個の数から`b`個選んで，一列に並べる並べ方を計算する関数は？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

関数の名前を`Perm`(順列＝permutationの頭4文字）

引数を`a`と`b`にして，関数を定義します

\
上の例のように，

a = 5, b = 3の場合は，`5から始まり，1ずつ減らした数を3番目までかける`ことで計算できるので

`5 * (5 - 1) * (5 - 2)`

\
これを，aとbの場合だったら，

`a * (a-1) * (a-2) * ・・・* (a - b +1)`と書けます

\
積を求める変数を`p`(積＝productの頭文字）として，はじめは1に設定

和のときのように0に設定すると，ずーーっと0になってしまうので，1に設定します

そうすると，上の式は

`1 * a * (a-1) * (a-2) * ・・・* (a - b +1)`となります

\
`a`から1づつ引く数を`i`とし，`i`の範囲を`range(b)`とすると，

`i`は，0～(b - 1)の範囲を動きます

\
これをコードで表すと，

    for i in range(b):
    p *= (a - b)

`*=`は，「右の変数を左の変数にかけて，左の変数に代入する」という代入演算子ですね

\
最後に，`p`を返します＝`return p`  ←これは`for`と同じインデントなことに注意です

In [ ]:
#sample

def Perm(a, b):
  p = 1
  for i in range(b):
    p *= (a - i)
  return p

print('a個の異なる数からb個選び一列に並べる並べ方')

#前に出てきた「複数の数をインプットしてもらうときの短縮形の書き方」です

a, b = (int(x) for x in input('a > bで，aとbに入れる2つの数をスペースを入れて入力：').split())

print(Perm(n, r), '通り')

###4人を並べる

---
Q?

Ａ，Ｂ，Ｃ，Ｄの4人を横一列にならべるならべ方は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

先頭から並べていく

先頭になるのはA,B,C,Dの4通り

2番目は先頭の一人をのぞいた3人の3通り

同じようにして，3番目は2通り，4番目は1通り

全部で，4 × 3 × 2 × 1 ＝ 24通り・・・(答)

\
[ Python ]

考え方は上の問題と同じ

数えるカウンターを0として

先頭を1の位置，2番目を2の位置，3番目を3の位置，4番目を4の位置とする

\
Aの位置は1～4，B,C,Dの位置も1～4があるので，全部の組み合わせは，

(A,B,C,D）＝(1，1，1，1)から(4，4，4，4)までの4 × 4 × 4 × 4 ＝ 256通り

\
その組み合わせをつくるコードは，上の問題と考え方は同じで

`for A in range(1,5):`

&emsp;`for B in range(1,5):`

&emsp;&emsp;`for C in range(1,5):`

&emsp;&emsp;&emsp;`for D in range(1,5):`

A,B,C,Dのどれも同じ位置ではない場合だけカウント

&emsp;&emsp;&emsp;&emsp;`if A != B and A != C and A != D and B != C and B != D and C != D:`

&emsp;&emsp;&emsp;&emsp;&emsp;`count += 1`

In [ ]:
#sample

count = 0

for A in range(1,5):
  for B in range(1,5):
    for C in range(1,5):
      for D in range(1,5):
        if A != B and A != C and A != D and B != C and B != D and C != D:
          count += 1

print(count, "通り")

ここでもインデントをなくすような下のようなコードの書き方もありますが

インデントの多さでプログラムが読みにくくなるのは，インデント内の処理が多い場合や

何百行にもなる大きなプログラムの場合で，こんなに短いプログラムだったらいいのでは

今は逆にインデントに慣れておきましょう

In [ ]:
#リストを利用したコード

s = [1,2,3,4]
list1 = [[a,b,c,d] for a in s for b in s for c in s for d in s ]

count = 0

for A, B, C, D in list1:
  if A != B and A != C and A != D and B != C and B != D and C != D:
          count += 1

print(count, "通り")

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜Python別解＞

数字を利用した別の考え方として

\
先頭を1，2番目を10，3番目を100，4番目を1000と置き換えて計算で処理できるようにする

\
この場合は，条件にあうのは，数の合計が1＋10＋100＋1000＝1111になるときだけだから

if文は

    if A + B + C + D == 1111:

とすることもできます

In [ ]:
#anoth sample

count = 0

for A in 1, 10, 100, 1000:
  for B in 1, 10, 100, 1000:
    for C in 1, 10, 100, 1000:
      for D in 1, 10, 100, 1000:
        if A + B + C + D == 1111:
          #print(A,B,C,D)     #4つの数の確認したいときは#をはずす
          count += 1

print(count, "通り")

###sum

参考までにリストを利用したコードも書いておきます

インデントは減りますが，上のコードの方がシンプルで分かりやすような

\
`sum()`は`(  )`の中の数の和を出力する組み込み関数です

sum ＝ 和という意味の英語

\
下のセルのコードで，`group`はリストの変数ですので，この場合は`sum(group)`で

リストの要素の数字の和を出力します

group = グループ，組という意味の英語

\
ここでは関係ありませんが

`sum(group, 10000)`とすると，groupの合計に，さらに10000を足すこともできます

\

In [ ]:
#リストを利用したコード

count = 0

n = [1, 10, 100, 1000]
list1 = [[A, B, C, D] for a in n for b in n for c in n for d in n ]

for group in list1:
  if sum(group) == 1111:
    count += 1
    #print(group)

print(count, '通り')

###0を含む5枚から4枚並べる

---
Q?

0, 1, 2, 3, 4のカード5枚から4枚取り出して順に並べるとき，4ケタの整数は全部で何個できる？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

千の位に並べられるのは，1，2，3，4のどれかの4通り

百の位に並べられるのは，千の位に並べた数以外の3つの数と0のどれかの4通り

十の位に並べられるのは，百の位に並べた数以外の3つの数のどれか3通り

一の位に並べられるのは，十の位に並べた数以外の2つの数のどれか2通り

以上から全部で，4 × 4 × 3 × ２＝ 96個・・・＜ 答＞


\
[ Python ]

カードのリスト[0, 1, 2, 3, 4]を作り，個数を数える用にcount(カウント)という名前の箱(変数）を作る

    cards = [0, 1, 2, 3, 4]
    count = 0

\
千の位をx，百の位をy，十の位をｚ，一の位をuとして，

x，y，z，uがとり得るすべての組み合わせをつくる

    for x in cards:
      for y in cards:
        for z in cards:
          for u in cards:

千の位には0のカードはおけないから，`for x in [1, 2, 3, 4]`でもOK

\
x, y, z, uはどれも違う数でなくてはならない

\
xが0だと3けたになってしまう  (`for x in cards:`とした場合）

\
の2つの条件をみたすx, y, z, uの組み合わせがあったら， `count`する

           if (x != y and x != z and x != u and y != z and y != u and z != u) and x != 0 :
            count += 1

In [ ]:
#sample

cards = [0, 1, 2, 3, 4]
count = 0

for x in cards:
  for y in cards:
    for z in cards:
      for u in cards:
        if (x != y and x != z and x != u and y != z and y != u and z != u) and x != 0 :
          count += 1    
    
print(count, '個')

96 通り

###5枚から3枚　3の倍数

---
Q?

0, 3, 4, 5, 6の5枚のカードから3枚選んでつくることができる3けたの3の倍数は何個？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

3の倍数になる数の条件は，「各けたの和が3の倍数」だから，

5つの数から3つ選んだ時の和が3の倍数になる組み合わせを調べると

(モレがないように小さいほうから順序良く調べる）

➀ (0, 3, 6)

② (0, 4, 5)

③ (3, 4, 5)

④ (4, 5, 6)

それぞれの場合で3けたの整数になる場合の数は

➀と②：2 × 2 × 1 ＝ 4通り

③と④：3 × 2 × 1 ＝ 6通り

全部で，4 × 2 ＋ 6 × 2 ＝ 20個・・・(答)

\
[ Python ]

カードのリスト[0, 3, 4, 5, 6]を作り，個数を数える用にcount(カウント)という名前の箱(変数）を作る

    cards = [0, 3, 4, 5, 6]
    count = 0

\
百の位をx，十の位をy，一の位をｚとして，x,y,zがとり得るすべての組み合わせをつくる

    for x in cards:
      for y in cards:
        for z in cards:

\
x, y, zはどれも違う数でなくてはならない

xが0だと2けたになってしまう

x + y + z が3の倍数になる

の3つの条件をみたすx,y,zの組み合わせがあったら， `count`する

           if (x != y and y != z and z != x) and x != 0 and (x + y + z) % 3 == 0:
            count += 1

In [ ]:
#sample

cards = [0, 3, 4, 5, 6]
count = 0

for x in cards:
  for y in cards:
    for z in cards:
      if (x != y and y != z and z != x) and x != 0 and (x + y + z) % 3 == 0:  #(100*x+10*y+z)%3でもOK
        #print(x,y,z)     #数を出力させたいときは実行(#をはずす)                                                                                        
        count += 1             #count=count+1 と同じ式　(countに1をたしてからcount変数に入れ直す式)

print(count, "個")

###5枚から3枚　6の倍数
---
Q?

0, 1, 2, 3, 4の5枚のカードから3枚選んでつくることができる3けたの6の倍数は何個？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

6の倍数になる数の条件は，「各けたの和が3の倍数の偶数」だから，

5つの数から3つ選んだ時の和が3の倍数になる組み合わせを調べると

(モレがないように小さいほうから順序良く調べる）

➀ (0, 1, 2)

② (0, 2, 4)

③ (1, 2, 3)

④ (2, 3, 4)

それぞれの場合で3けたの偶数になる場合の数は

➀：102, 120, 210の3通り

②：2 × 2 × 1 ＝ 4通り

③：132, 312の2通り

④：2 × 2 ＝ 4通り

全部で，3 ＋ 4 ＋ 2 ＋ 4 ＝ 13個・・・(答)

\
[ Python ]

上の問題とほぼ同じなのでコードも同じ流れ

ただ「6の倍数になる」というところは，

           (100*x + 10*y + z) % 6 == 0:

とすることに注意

In [ ]:
#sample

cards = [0, 1, 2, 3, 4]
count = 0

for x in cards:
  for y in cards:
    for z in cards:
      if (x != y and y != z and z != x) and x != 0 and (100 * x + 10 * y + z) % 6 == 0:    
        #print(x,y,z)           #結果を出力しなくてよいし，出力して確認するもよし(#をはずす)
        count += 1             

print(count, "個")

###子供4人と親2人並ぶ
---
Q?

子ども4人と両親が横一列に並ぶとき，両親の間に子供4人が並ぶ並び方は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

両親は両端で，父－母，母－父の2通り

子どもは4人が一列に並ぶ場合だから，4 × 3 × 2 × 1 ＝ 24通り

全部で，2 × 24 ＝ 48通り・・・(答)

\
[ Python ]

両親と子供4人の6人の位置をa,b,c,d,e,fとすると，両親はaとf，子どもはb,c,d,eの位置になる

父を5，母を50とし，

子どもを，1，10，100，1000とする


aとfは5か50で，b，c，d，eは1，10,100，1000だから，すべての組み合わせは

    for a in 5,50:
      for b in 1,10,100,1000:
        for c in 1,10,100,1000:
          for d in 1,10,100,1000:
            for e in 1,10,100,1000:
              for f in 5,50:

「両親が両端になり，子どもは一列に並ぶ」条件を式で表すと

                if a + f == 55 and b + c + d + e == 1111:

この条件にあうa~fがあったらcount

In [ ]:
#sample

count=0
for a in 5,50:
  for b in 1,10,100,1000:
    for c in 1,10,100,1000:
      for d in 1,10,100,1000:
        for e in 1,10,100,1000:
          for f in 5,50:
            if a + f == 55 and b + c + d + e == 1111:
              #print(a,b,c,d,e,f)
              count += 1

print(count,'通り')

48 通り

インデントが多くていやだったら，上でやったリストを利用する方法でもコードを考えて下さい

###男6人女4人代表選び
---
Q?

男子6人と女子4人から男子2人，女子1人の代表を選ぶ方法は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

男子6人から2人を選ぶ選び方は，$\dfrac{6×5}{2×1}＝15通り$

女子4人から1人を選ぶ選び方は，4通り

全部で，15 × 4 ＝ 60通り・・・(答)

\
[ Python ]

男子を1, 2, 3, 4, 5, 6の6人，女子を10, 20, 30, 40の4人とする

選ばれる人を男子 ＝ a, bで，    女子 ＝ cとする

a,bは1～6から，cは10～40から取り出し，すべての組み合わせをつくり，

a = b となる場合と，(a,b) = (2,5)と(5,2)は同じなので含めないようにするには

`if a < b :`

として，あてはまる場合を数え上げて`count += 1`

forループが終わったら`print`で出力

In [ ]:
#sample

count=0

for a in 1, 2, 3, 4, 5, 6:
  for b in 1, 2, 3, 4, 5, 6:
    for c in 10, 20, 30, 40 :
      if a < b :                  
        count += 1
        #print(a,b,c)
        
print(count, "通り")

###7人を4人と3人に分ける
---
Q?

生徒7人を4人室と3人室に分ける分け方は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

3人室に入る人が決まれば，4人室は残りだから自動的に決まる

3人室に入る人を7人から選ぶ選び方は，$\dfrac{7×6×5}{3×2×1}＝35通り$・・・(答)


\
[ Python ]

生徒7人を1\~7とし，3人室に入る生徒をa, b, cとする

a, b, cのすべての場合を数え上げ，

a, b, cは全部違う数で，(a,b,c), (a,c,b), (b,a,c), (b,c,a), (c,a,b), (c,b,a)はダブることになるから

`a < b < c`の場合だけをカウント

In [ ]:
#sample

count=0
for a in range(1, 8):
  for b in range(1, 8):
    for c in range(1, 8):
      if a < b < c :       #a,b,cの並び方は関係ないのでa<b<cときめる(b<c<aとかでもよい)
        #print(a,b,c)
        count += 1
print(count, "通り")

###7個を4人にくばる
---
Q?

7個の玉を4人に少なくとも1個以上あげ，残さずに分ける分け方は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

「少なくとも1個以上あげる」ので，はじめに1個ずつあげとくと，残りは7－4＝3個

3個の分け方は，(3，0，0，0)，(２，１，０，０），(1，1，1，0)の3パターンで

それぞれの分け方は，4通り，4×3＝12通り，4通りなので，

全部で，4＋12＋4＝20通り・・・(答)

\
＜[ Python ]

4人にくばる数をa,b,c,dとすると，1人に5個以上くばるともらえなくなる人が出てくるので

1人にくばれる数の最高は4個だから，

a,b,c,dの範囲を1\~4までの数字をとりだして，すべての場合を計算し，

`a + b + c + d = 7`となる条件にあてはまればcount

In [ ]:
#sample

count=0

for a in range(1,5):
  for b in range(1,5):
    for c in range(1,5):
      for d in range(1,5):
        if a + b + c + d == 7:
          #print(a,b,c,d)
          count+=1

print(count, "通り")

###円テーブルに座る　2人が隣
---
Q?

円テーブルのまわりにa, b, c, d, e, fの6人がすわり，fの位置は決まっているとき，

aとbがとなり合ってすわるすわり方は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

fの位置が決まっているので円順列ではなく，一列の並び方で考えられる

aとbの並び方は，(a,b), (b,a)の2通り

aとbを一人と考えると(ab), c, d, eの4人の並び方は，4 × 3 × 2 × 1 ＝ 24通り

全部で，2 × 24 ＝ 48通り・・・(答)

\
＜[ Python ]

f以外が座る場所を1，10,100，1000，10000とする

a, b, c, d, eが座る場所のすべての場合を数え上げ，

aとbがとなり合う場合は，a + b = 11 `or`110`or`1100`or`11000になり

みんなが違う場所に座る場合，a + b + c + d + e = 11111になるから

その条件にあう場合をカウント

In [ ]:

count = 0
list1 = [1, 10, 100, 1000, 10000]

for a in list1:
  for b in list1:
    for c in list1:
      for d in list1:
        for e in list1:
          if (a + b == 11 or a + b == 110 or a + b == 1100 or a + b == 11000) and \
          a + b + c + d + e == 11111:
            #print(a,b,c,d,e)
            count+=1

print(count, "通り")

###pprint

###同じ数字を含む5ケタの数

---
Q?

１，１，２，２，３の5つの数字を並べて5ケタの数をつくるとき，何種類の数ができますか？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

数字を入れる5個の箱を並べ，その箱に3から順番に数字を入れることを考える

3の入れ方は5個の箱から1つを選ぶ選び方だから5通り，

2を入れる(1でもいい)入れ方は残りの4個の箱から2個を選ぶ選び方だから，$\dfrac{4×3}{2×1}＝6$
通り

1は残りの2個の箱に自動的に決まるから全部で，5 × 6 ＝ 30通り・・・＜答＞

(別解)

１，１，２，２，３をA1，B1，C2，D2，E3と区別できる数字だとすると，

全部で5 × 4 × 3 × 2 × 1 ＝ 120通り

だが，A1とB1 ，C2 とD2 の並び方は2通りずつあるから，ダブりが2 × 2 ＝ 4パターン

したがって，全部で，120 ÷ 4 ＝ 30通り・・・＜答＞

\
[ Python ]

[1, 1, 2, 2, 3]とすると，和の条件で`a + b + c + d + e ＝9`としたときに

１＋１＋２＋２＋３＝１＋１＋１＋２＋２なども含まれてしまうので，それをさけるために

和のダブりをなくすために[1, 1, 2, 2, 3]を`[1, 1, 10, 10, 100]`に置き換える

そうして，`a + b + c + d + e ＝ 122`とすると，一通りに決まる


\
出来上がった数も1と2が2個ずつあるので，例えば1番目の1と2番目の1が入れ替わった数も

同じで，ダブルカウントになってしまうので，

まず，できた数を全部くっつけた数にかえて(例えば，[10, 1, 10, 100, 1]であれば

`"101101001"`にかえて，それを集合`set`に入れてから，`len()`でその要素の数を数える

`set()`の要素の数はダブりはカウントしないので個数が分かる

以上の操作のためのコードが

      if a + b + c + d + e == 122 :
            numbers.append(str(a) + str(b) + str(c) + str(d) + str(e))
            answer = len(set(numbers))

になる

\
あまり関係ないですが

`from pprint import *`で`pprint`モジュールをインポートしておいて

`pprint`関数を使うと

    pprint(リスト)

で，リストの要素が一つひとつ改行されて出力されます

要素が横長に長い場合は見やすくなります

In [ ]:
from pprint import *

list1 = [1, 1, 10, 10, 100]

numbers = []

for a in list1 :
  for b in list1 :
    for c in list1 :
      for d in list1 :
        for e in list1 :
          if a + b + c + d + e == 122 :
            numbers.append(str(a) + str(b) + str(c) + str(d) + str(e))
            answer = len(set(numbers))

print(numbers)        #横一列に表示
pprint(numbers)       #縦一列に表示
print(answer, '通り')

### 異なる3つの整数

---
Q?

異なる３つの整数があって，この３つの整数の積は，この３つの整数の和より４だけ大きい。

このような３つの整数の組は，２組考えられるが，そのうち最大の整数４となる組について，

３つの整数の積は［(1)］であり，もう一つの組において，３つの整数の積は［(2)］である。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(答）(1)=(1, 3, 4),  (2)=(1, 2, 7)

＜算数解法＞

3つの整数をa < b < cとする

c = 4であれば，残りの2つは1, 2, 3のどれかなので調べると，(1, 3, 4)・・・＜答＞

\
aが2以上の場合，最小の組み合わせの場合でも，2 × 3 × 4 ＝ 24で，2 ＋ 3 ＋ 4 ＝ 9で，

積が和より4より大きくなるから，a = 1で考える

\
`1 * b * c = 1 + b + c + 4` より

`b * c = b + c + 5 → c = 1 + (c + 5) / b`より，

b, cを探すと，b = 2, c = 7・・・＜答＞

\
a = 1, b = 2の場合で調べるほうが早いかも

\
[ Python ]

上と同様に，a = 1としてもよいが，一応それぞれ1~10でやってみる

a, b, c がそれぞれ1~10の範囲の数の場合で，

`a < b < c and (a * b * c = a + b + c + 4)`

の条件をみたすa, b, c があれば出力

In [ ]:
#sample

for a in range(1, 10):
  for b in range(a + 1, 10):
    for c in range(b + 1, 10):
      if c == 4 and a < b < c and (a * b * c == a + b + c + 4):
        print('(1) :', a, b, c)
      elif a < b < c and (a * b * c == a + b + c + 4):
        print('(2) :', a, b, c)

###set()

###階段　場合の数
---
Q?

階段を，1歩で1段か2段で上がっていく方法で上がるとき，12段の階段の上がり方は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜答＞

233通り

\
＜算数解法＞

順番に調べて仕組みを見つける

1段の場合：1歩で1段，の1通り

2段の場合：1歩ずつ1段＋1段，1歩で2段，の2通り

3段の場合：1歩ずつ1段＋1段＋1段，1歩で1段と2段をまぜて，1段＋2段，2段＋1段，の3通り

\
ここで，考え方を少し変えて，上がるのは1段か2段かだから，

3段目に上がるのは，1段目からか，2段目からかのどちらかで，どちらも1通りだから，

3段目に上がるのは，(1段目まで上がる数) ×１＋(2段目まで上がる数) ×1となることから，

3段目に上がる方法は，1×１＋2×1＝1＋2＝3通りと計算することができる

\
同じように4段目にあげる方法は，2段目からか3段目から上がるしかないことから，

4段目＝(2段目)×１＋(3段目）×1＝(2段目)＋(3段目)＝2＋3＝5通り

5段目＝(3段目)＋(4段目)＝3＋5＝8通り

\
この調子で12段まで数えればいいことが分かる

③1＋2＝3，④2＋3＝5，⑤3＋5＝8，⑥5＋8＝13，⑦8＋13＝21，⑧13＋21＝34

⑨21＋34＝55，⑩34＋55＝89，⑪55＋89＝144，⑫89＋144＝233通り・・・＜答＞

みなさんご存知と思いますが，フィボナッチの数列というやつです

\
[ Python ]

上がるのは1か2だから，`list1`で段数リストを作成

上がる歩数を最大の12 ÷ 1=12歩まで(a~l)設定

すべての考えられる上がるパターンを入れる`numbers`というリストを作成

一番少ない歩数は，12 ÷ 2 ＝ 6歩，一番多い歩数は，12 ÷ 1 ＝ 12歩

なので，`a+b+c+d+e+f`から`A+b+c+d+e+f+g+h+i+j+k+l`までの7通りで

合計が12になる場合を数え上げる

\
例えば，`a+b+c+d+e+f=12`となったら，残りのg～lまでの数は無視すればいいので，

見つかった`(a,b,c,d,e,f)`だけを`numbers`リストに`append`

この場合だと，`(a,b,c,d,e,f)`は，(2，2，2，2，2，2)1通りで，残りの`g～l`は

2×2×2×2×2×2＝64通りなので，`numbers`リストには(2，2，2，2，2，2)が64個

入ることになり，同じようなことが他の場合も起こる

\
同じ組み合わせは1通りと数えないといけないので，最後まで数えたら`numbers`リストを

`set()`で酒豪にかえて，変数`answer`に入れる。

\
`answer`を出力するときに，`len(answer)`とすると，集合の要素の数を数えれことができる。

\
集合の場合では順番が違っていても同じ要素が含まれている場合は1通りとカウントされる。


\
ちょっと長いコードになりますが，考え方はすごく単純です

In [ ]:
list1 = [1, 2]

list2 = [[a,b,c,d,e,f,g,h,i,j,k,l] for a in list1 for b in list1 for c in list1 for d in list1 for e in list1 for f in list1 for g in list1 for h in list1 for i in list1 for j in list1 for k in list1 for l in list1]

numbers = []

for a,b,c,d,e,f,g,h,i,j,k,l in list2 :
  if a + b + c + d + e + f == 12 :
    numbers.append((a,b,c,d,e,f))
 
  if a + b + c + d + e + f + g == 12 : 
    numbers.append((a,b,c,d,e,f,g))
    
  if a + b + c + d + e + f + g + h == 12 :
    numbers.append((a,b,c,d,e,f,g,h))
   
  if a + b + c + d + e + f + g + h + i == 12 :
    numbers.append((a,b,c,d,e,f,g,h,i))   

  if a + b + c + d + e + f + g + h + i + j == 12 :
    numbers.append((a,b,c,d,e,f,g,h,i,j)) 

  if a + b + c + d + e + f + g + h + i + j + k == 12 :
    numbers.append((a,b,c,d,e,f,g,h,i,j,k)) 

  if a + b + c + d + e + f + g + h + i + j + k + l == 12 :
    numbers.append((a,b,c,d,e,f,g,h,i,j,k,l)) 
    
answer = set(numbers)

print(len(answer), '通り')

itertoolsモジュールのcombinations(組み合わせを計算するプログラム）を利用するコードもあるので

つくってみましたが，ご参考まで

便利なプログラムに頼るより，工夫してプログラムを考えるほうがたのしいです

In [ ]:
#itertoolsを利用したsample
#12÷1＝12，12÷2＝6より，最も多い回数で1を12回，最も少ない回数で2を6回とわかる
#iを1の回数，jを2の回数とする
#合計(sum)が12であれば，１をi個，2をj個並べる並べ方を計算
#itertoolsモジュールの中のcombinations(＝組み合わせを計算するプログラム)を使う

from itertools import combinations

sum = 0
count = 0

for i in range(13) :
  for j in range(7) :
      sum = 1 * i + 2 * j
      if sum == 12:
        ij_list = [1] * i + [2] * j
        list1 = list(combinations(ij_list, i))
        n = len(list1)                                                 #len()でリストの中の個数が分かる
        count += n

print(count, '通り')

###4人がじゃんけん
---
Q?

A,B,C,Dの4人がじゃんけんをします。

(1) 全部で何通りの出し方がありますか。

(2) あいこになるのは，全部で何通りの出し方がありますか。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

(1) 各人がそれぞれ3通りの出し方があるから，3 × 3 × 3 × 3 ＝ 81通り・・・(答)

(2) ➀全員が同じ手の場合は，3通り

②2人が同じ手でほかの2人がそれぞれ違う手の場合

4人中2人の選び方は，6通り，同じ手がグー，チョキ，パーの3通り，2人が違う手が2通りだから，

全部で6 × 3 × 2 ＝ 36通り　① ＋ ② ＝ 39通り・・・(答)

\
[ Python ]

(1)のカウンタを`count1`，(2)のカウンタを`count2`とし，はじめは0設定

\
手はグー，チョキ，パーの3種類だから，それぞれ１，２，３として4人の手の出し方の全部の組み合わせは

上の問題と同じ考え方で，このforループ(多重ループ）の下でcount1でループ回数をカウントし，

これが(1)の答えになる

        for a in 1,2,3:
          for b in 1,2,3:
            for c in 1,2,3:
              for d in 1,2,3:
                count1 += 1

あいこになるのは，①4人が同じ手の場合で，

                if a == b == c == d:
                  count2 += 1

②  2人が同じ手でほかの2人がそれぞれ違う手の場合は面倒だが，

                if (a == b and a != c and a != d and c != d)\         #ifでなくelifでも
                or (a == c and a != b and a != d and b != d)\
                or (a == d and a != b and a != c and b != c)\
                or (b == c and b != a and b != d and a != d)\
                or (b == d and b != a and b != c and a != c)\
                or (c == d and c != a and c != b and a != b):
                  count2 += 1
 
 長いコードの中で行を分けるときは`\`で区切って，下の行に続けます

 6パターンのどれかの場合にあてはればあいこになるので，条件は全部`or`でつなげます

 ループが終わったら最後に結果出力
 
             print('(1)', count1,'通り')
             print('(2)', count2,'通り')

forループのインデント外なので，printの先頭は左端

In [ ]:
#sample

count1 = 0
count2 = 0
for a in 1, 2, 3:
  for b in 1, 2, 3:
    for c in 1, 2, 3:
      for d in 1, 2, 3:
        count1 += 1
        if a == b == c == d:
          count2 += 1
        if (a == b and a != c and a != d and c != d)\
        or (a == c and a != b and a != d and b != d)\
        or (a == d and a != b and a != c and b != c)\
        or (b == c and b != a and b != d and a != d)\
        or (b == d and b != a and b != c and a != c)\
        or (c == d and c != a and c != b and a != b):
          count2 += 1
          #print(a, b, c, d)       #それぞれの手を表示させたいとき(#をはずす) 
print('(1)', count1, '通り')
print('(2)', count2, '通り')

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜Python別解＞

グー，チョキ，パーを1，10，100として計算する方法

②の場合は

1＋1＋10＋100＝112

1＋10＋10＋100＝121

1＋10＋100＋100＝211

の場合とすることができます

In [ ]:
count1 = 0
count2 = 0
for a in 1, 10, 100:
  for b in 1, 10, 100:
    for c in 1, 10, 100:
      for d in 1, 10, 100:
        count1 += 1
        if a == b == c == d :
          count2 += 1
        if (a + b + c + d == 112) or (a + b + c + d == 121) or (a + b + c + d == 211):
          count2 += 1
          #print(a,b,c,d)       #それぞれの手を表示させたいとき(#をはずす) 
print('(1)', count1, '通り')
print('(2)', count2, '通り')

###りんご5個とミカン6個をa,b,cの3つのかごに
---
Q?

りんご5個とミカン6個をa, b, cの3つのかごにどのかごにもりんごもミカンも1個以上入れ，

残さずに分ける分け方は何通り？

\
「リストの内包表記」で同じ問題あり

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

5個のりんごを3つに分ける分け方は(1，1，3)，(1，2，2)で，これをa,b,cのかごに入れるから

それぞれの分け方の場合で，3通りと3通りで6通り

6個のミカンを3つの分ける分け方は(1，1，4)，(1，2，3)，(2，2，2)で，これをa,b,cのかごに入れるから

それぞれの分け方の場合で，3通りと3×2×1＝6通りと1通りで10通り

以上全部で，6 × 10 ＝ 60通り・・・(答)

\
[ Python ]

条件から1つのかごにりんごは3個まで，ミカンは4個まで

\
1つのかごに入るミカンの個数は，1～4個

1つのかごに入るりんごの個数は，1～3個だが，

見分けるためにりんごの個数は10，20，30とする

    orange_list = [1, 2, 3, 4]
    apple_list = [10, 20, 30]

\
両方の合計個数のリスト(`list1`)を作るコードは

    list1 = []
    for x in apple_list:
      for y in orange_list:
        list1.append(x + y)

\
これをリストの内包表記で1行で書くと，

    list1=[(x + y) for x in apple_list for y in orange_list]

となります

\
場合の数をカウントする`count = 0`とし，

a,b,cに入るりんごとミカンの合計数のすべての場合をlist1からつくり，

    count=0
    for a in list1:
      for b in list1:
        for c in list1:

ミカンの個数の合計は6個だから6で，りんごの個数の合計は5個だから50になるから

全部の合計は56になる場合だけをカウントし，

          if a + b + c == 56:
            count += 1

最後にカウント数を出力

    print(count, "通り")

In [ ]:
#sample

orange_list=[1, 2, 3, 4]
apple_list = [10, 20, 30]

list1 = []
for x in apple_list:
  for y in orange_list:
    list1.append(x + y)

count=0
for a in list1:
  for b in list1:
    for c in list1:
      #print(a, b, c)
      if a + b + c == 56:
        #print(a, b, c)
        count += 1

print(count, "通り")

60 通り

###倍数

---
Q?

あるグループにりんごを配ります。女子1人に4個ずつ，男子1人に3個ずつ配るとちょうど配れます。

また，女子1人に3個ずつ，男子1人に5個ずつ配るとちょうど配れます。

しかし，女子1人に5個ずつ，男子1人に2個ずつ配るとりんごは9個不足します。

りんごの数を求めなさい。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

女子の人数をg人，男子の人数をb人として，問題文を式で表すと

（gはgirl(女子）の頭文字，ｂはboy(男子)の頭文字）

4 × g + 3 × b ＝ 3 × g ＋ 5 × b

この式から，1 × g ＝ 2 × b とわかるから，女子の人数は男子の2倍とわかる

女子②人，男子➀人とすると，りんごの数は，4 × ② ＋ 3 × ➀ ＝ ⑪個

最後の条件から，5 × ② ＋ 2 × ➀ － 9 ＝ ⑫ － 9 ＝ ⑪より，① ＝ 9

したがって，りんごの数は，9 × 11 ＝ 99個・・・(答)

\
[ Python ]

女子の人数をg人，男子の人数をb人として，1~100人の範囲ですべての組み合わせを調べる

条件の3つの式の計算結果は等しく，りんごの個数を表す

4 × g + 3 × b ＝ 3 × g ＋ 5 × b ＝ 5 × g ＋ 2 × b － 9　だから，

この場合の人数が見つかったらそれでりんごの個数を計算し，結果を出力

In [ ]:
#sample

for g in range(1,101):
  for b in range(1,101):
    if 4 * g + 3 * b == 3 * g + 5 * b == 5 * g + 2 * b - 9:
      print(4 * g + 3 * b, '個')

 
逆算のところででてきたsympyモジュールの中の`var`(variable/バリアブル・変数という意味）とい
  
う変数を決めるプログラムと，`solve`(ソルブ・解くという意味）という方程式を解くプログラムを
  
利用する解法もありますが，それはあとで出てきます

---
Q?

大小２つのサイコロの目の和が5の倍数となる組み合わせをすべて表示してください

(大，小）＝(xx，xx）と出力

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

大の目をx，小の目をyとするとどちらも1~6の数字だから

すべての組み合わせをつくり，その中から`(x ＋ y) % 5 == 0`となる場合のx，yの組が

あれば，それを出力

In [ ]:
#sample

for x in range(1, 7) :
  for y in range(1, 7) :
    if (x + y) % 5 == 0:
      print("(大，小）= (", x, ",", y, ")")

###速さ

---
Q?

時速24kmの速さで進むと27分かかる道のりを，分速120ｍの速さで進むと何分かかりますか。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

これはフツウに算数の問題として解けばいいが，

(道のり)＝(速さ)×(時間)だから，

単位を，分とmメートル(meterの頭文字）にそろえて(道のり=distanceディスタンス)を計算するコードは

    `distance_m = 24 * 27/60 * 1000`

この道のりを分速120mで進むのにかかり時間は，(時間）＝(道のり)÷(速さ)で，これを計算するコードは

    time = distance_m / 120

最後にかかる時間を出力

    print(time, "分")

\
\
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

速さの英語といえば`speed(スピード)`ですが，`velocity(ヴェロシティ)`もよく使われます

速さを表す英語の文字で`V`をよく見かけますが，これはvelocityの頭文字です

sppedとvelicityの違いは，velocityは速さだけでなく，速度＝「方向が決まった速さ」のときに使います

velocity = speed + 方向  というイメージです

In [ ]:
#sample

distance_m = 24 * 27/60 * 1000

time = distance_m / 120

print(time, "分")

print(int(time), "分")   #整数にしたいとき

---
Q?

毎分120ｍの速 さで走ると□ 分かかる道のりを，毎時18ｋｍの速さで走ると14分かかります

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

問題文の後半から解いていけばいい

速さの問題は，3つの要素(速さ)，(時間)，(道のり）のどれか２つが分かる条件があるから

そこから解いていきます

(道のり)＝(速さ)×(時間)だから，

    `distance_m = 18 * 14/60 * 1000`

この道のりを分速120mで進むのにかかり時間は，(時間）＝(道のり)÷(速さ)で，これを計算するコードは

    time = distance_m / 120

最後にかかる時間を出力

    print(time, "分")

In [ ]:
#sample

distance_m = 18 * 14/60 * 1000

time = distance_m / 120

#print(time, "分")

print(int(time), "分")

---
Q?

太郎と次郎が100m競争をしました

太郎がゴールしたとき次郎はゴール手前10mの位置でした

もし太郎がスタート地点から10m後ろからスタートすると，どちらが勝つでしょうか

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

問題文のはじめの条件から，太郎と次郎の速さの比は，100:90＝10：9

次の条件では太郎は100＋10＝110m，次郎は100ｍ走るので，かかる時間の比を比べればよい

(110÷10)：(100÷9)＝11：100/9＝99：100より，太郎が勝つ・・・(答)

\
[ Python ]

考え方は上と同じで，太郎の速さ＝taro_v，次郎の速さ＝jiro_vとすると，

    taro_v = 100
    jiro_v =90

次の競争でぞれぞれのグールする時間をそれぞれ，`taro_t`,`jiro_t`とすると，

    taro_t = (100 + 10) / taro_v
    jiro_t = 100 / jiro_v

どちらが早くゴールできるかをif文にすると

    if taro_t < jiro_t:
      print("太郎が勝つ")
    elif taro_t == jiro_t:
      print("同着です")
    else:
      print("次郎が勝つ")

---
Q?

A地点からB地点まで，行きは時速3km，帰りは時速6㎞で進むとき，平均時速は時速何km？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

平均時速＝$\dfrac{往復の距離}{往復の時間}$       

で求めることに注意

\
AB間の距離が書いていないので，自分できめる

この問題では3 × 6＝18ｋｍとすると計算しやすい

\
(往復の距離）＝18 × 2 ＝ 36km

(往復の時間) ＝ 18 ÷ 3 ＋ 18 ÷ 6 ＝ 6 ＋ 3 ＝ 9時間

平均時速 ＝ $\dfrac{36}{9}$ ＝ 4km/時・・・(答)


\
[ Python ]

考え方は上と同じなので，コードは自分で考えてみて下さい

In [ ]:
#sample

time_AtoB = 18 / 3
time_BtoA = 18 / 6

average_v = 18 * 2 / (time_AtoB + time_BtoA)      #averageアベレージ＝「平均」の英語
print(int(average_v), "km/h")                              #hはhourの頭文字

###年齢

---
Q?

6年前は，父と母と兄の年齢の和が，私の年齢の13倍でした。

今は，3人の年齢の和が，私の年齢の7倍です。

6年前の私の年齢は？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

6年前の私の年齢を①歳とすると，3人の年齢の和は⑬

今の私の年齢は①＋6歳で，3人の年齢の和は⑬＋3×6＝⑬＋18

したがって，(①＋6)×7＝⑬＋18で，これを解いて➀＝4歳・・・(答)

\
[ Python ]

6年前の私の年齢をmyage，3人の年齢をAとして，

それぞれ1～20，13～100くらいでifの条件に合うmyageをさがし，

条件に合ったmyageが見つかれば，出力

\
ifの条件は，問題文の条件を式で表す

Aは3人の年齢の和だから，1年で3歳ずつ増えることに注意

    if A == myage * 13 and (myage + 6) * 7 == A + 3 * 6:

In [ ]:
#sample

for myage in range(1,21):
  for A in range(13,101):
     if A == myage * 13 and (myage + 6) * 7 == A + 3 * 6 :
       print(myage,'歳')

この問題もsympyのsolveプログラムで解く解法もありますが，それは後ほど

###損益

---
Q?

原価の3割の利益を見込んで定価をつけた品物を定価の1割引きで売ったところ255円の利益がありました。

定価はいくら？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

原価を1とすると定価は1×1.3＝1.3で，定価の1割引きは，1.3×(1－0.1)＝1.17

0.17が利益である255円に相当するから，原価1＝255÷0.17＝1500円で，

定価は，1500×1.3＝1950円・・・(答)

\
＜[ Python ]

原価Costコストをcostとし，その範囲を1000～5000円くらいにして条件にあてはまるcostを探す

条件に合ったcostが見つかれば，出力してbreakでforループ中断

\
costの型はfloat=小数(浮動小数点数）になっているので，int=整数に直して表示

\
if文に入る条件文は，

売値－原価＝利益をそのまま式にすると，

    `cost * (1 + 0.3) * (1 - 0.1) - cost == 255`

In [ ]:
#sample

for cost in range(1000,5000):
  if cost * (1 + 0.3) * (1 - 0.1) - cost == 255:
    print(cost * 1.3, '円')
    print(int(cost * 1.3), '円')
    break

###数

---
Q?

2～9の整数から2つ選び，どちらかがどちらかの約数となっているものの組み合わせをすべて表示

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

選ぶ2つの数をx，yとして，y ÷ xが割り切れる組み合わせを探す

\
「2~9の整数から2つ選び」ということは同じ数はないということ

\
xは2~9で選び，yはxより大きな数で選び，すべての組み合わせを調べ，

約数になるということは，「yをxで割ると割り切れる」ということだから

条件は，`y % x == 0`と表すことができる

In [ ]:
#sample

for x in range(2, 9) :
  for y in range(x + 1, 10) :
    if y % x == 0 :
      print(x, "は", y, "の約数")

---
Q?

207，2007，20007，・・・のように先頭が2で末尾が7，間はすべて0である整数のうち，

27で割り切れるが，81では割り切れない数の中で最も小さい数は？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

2 ＋7＝ 9 だから，この数は9で割り切れることが分かる

27 ＝ 9 × 3　で　81 ＝ 9 × 9　だから，順番に割っていき，商が3で割れて9で割れない数を探す

207 ÷ ９ ＝ 23　　　　　　・・・3で割れない

2007 ÷ ９ ＝ 223　　　　　・・・3で割れない

20007 ÷ ９ ＝ 2223　　　　・・・各位の数の和＝３＋２×３＝９で，３で割り切れるが，９でも割り切れる

200007 ÷ ９ ＝ 22223　　・・・3で割れない

2000007 ÷ ９ ＝ 222223　・・・3で割れない

20000007 ÷ ９ ＝ 2222223・・・3で割り切れるが，９では割り切れない → 200000007・・・(答)

全部計算しなくても，商の数字の規則性が分かれば割り算は不要


\
＜[ Python ]

207 = 2 × 100 + 7 ＝ 2 × (10 × 10) ＋ 7

2007 = 2 × 1000 + 7＝ 2 × (10 × 10 × 10) ＋ 7

20007 = 2 × 10000 + 7＝ 2 × (10 × 10 × 10 × 10）＋ ７

だから，10を何回かけるかを表す数(べき乗)をxとして，2から10くらいまで動かし問題の数をつくり，

式は，`2 ＊ (10 ** x) + 7`  算術演算子の`**`(べき乗）を利用

見やすくするために，この式を変数`n`に代入

「つくった数が27で割り切れて，81で割り切れない数」という条件

`if n % 27 == 0 and n % 81 != 0:`

にあてはまれば，その数を出力して，forループを中断(break)

In [ ]:
#sample

for x in range(2, 10) :
  n = 2 * (10 ** x) + 7
  if n % 27 == 0 and n % 81 != 0:
    print(n)
    break

while文にすると，次のようなコードになる

In [ ]:
#while文 sample

x = 100
while True:                  #「条件に合うまで繰り返す」という意味の決まり文句
  n = 2 * x +7
  if n % 27 == 0 and n % 81 != 0:
    print(n)
    break
  else:
    x *= 10

Summary of Arithmetic Operators



| Arithmetic | Symbol |
|:------:|:------:|
| Addition | `+` |
| Subtraction | `-` |
| Multiplication | `*` |
| Division | `/` |
|Exponentiation | `**` |  
| Division (quotient only) | `//` |
| Division (remainder only) | `%` |


\

###数

---
Q?

3以上9999以下の奇数$a$で，$a × a－a$ が10000で割り切れる数を求めなさい

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

$a×a$ は `a**2`と表せることは知っているので，この問題は算数の解法はできないが

Pythonではラクに解けます

$a$が奇数の場合は，`for a in range(3, 10000, 2)`

`range(start=はじめの数，stop=最後の数の次の数，step=増やす数)`

と書きます

これで，「はじめは3，最後は9999，2ずつ増やす」となり，

３，５，７，・・・・，9999が変数に代入されます

あとは，`a ** 2 ー a`を10000で割ったあまりが0となる数を出力

In [ ]:
#a = 2x - 1 = 9999のとき，x = 10000/2=5000

for a in range(3, 9999, 2):
  if (a**2 - a) % 10000 == 0:
    print(a)

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

奇数$a$を，$x = 1,2,3,・・・$のとき，$a = 2 × x ー1$と表すことあります

具体的には

$x＝1$のとき，$a = 2 × 1 ー1＝1$

$x＝2$のとき，$a = 2 × 2 ー1＝3$

$x＝3$のとき，$a = 2 × 3 ー1＝5$

です

$a＝9999$のとき，$x = (9999＋1)÷2＝5000$　だから

下は，2から5000までの数をxに入れて計算するパターン

In [ ]:
#a = 2x - 1 = 9999のとき，x = 10000/2=5000

for x in range(2, 5001):
  a = 2 * x - 1
  if (a**2 - a) % 10000 == 0:
    print(a)

---
Q?

次のように２つの整数の積をつくる

１×１９９８，２×１９９７，３×１９９６，・・・・・・・，９９９×１０００

これら９９９個のうち，12で割り切れるものは何個？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

この手の問題は必ず「周期性」があると考えて取り組む

\
並んだ式のすべての組み合わせは，(偶数) × (奇数)か(奇数) × (偶数)

12の倍数になるためには，(12の倍数) × (その他)か(3の倍数) × (4の倍数）

(2の倍数) × (6の倍数）は(偶数) × (偶数)になるのでこの中にはない

はじめの12組の1 × 1998　2 × 1998　3 × 1997　……　12 × 1987までの数を見たとき

(12の倍数) × (その他)は7 × 1992，12 × 1987

(3の倍数) × (4の倍数)は3 × 1996，4 × 1995

次の12個を調べても同じ順番で4個あることがわかる

999 ÷ 12 ＝ 83…3より，12個の周期が83個，残り3個のうち3番目の999 × 1000の1個

求める個数は，83 × 4 ＋ 1 ＝ 333個・・・(答)

\
[ Python ]

はじめに，あてはまる個数をカウントするcountに0を，

また，1~999を入れる変数xにかける数yに1998を代入

\
1~999の数を取り出してx変数に入れ，順番に`x × y`をつくり

12で割り，余りが0になればカウントし，yが999になったら`break`

yは1ずつ減らしていく

\
forループが終わったら最後にcountを出力

In [ ]:
#sample

count = 0
y = 1998

for x in range(1, 1000):
  if y == 999:
    break
  elif x * y % 12 == 0:
    count += 1
    #print(x,"×", y)
  y -= 1

print(count, "個")

while文でも同じ計算内容のコードがつくれます

In [ ]:
#while文 sample

count = 0 
x = 1
y = 1998

while True:
  if y == 999:
    break
  elif x * y % 12 == 0:
    count += 1
    #print(x, '×', y)
  x += 1
  y -= 1
  
print(count,"個")

###約束記号

---
Q?


$[a]$という記号である数$a$の整数部分を表すことにします。

例えば$\left[\dfrac{1}{2}\right]=0$,　$\left[\dfrac{7}{3}\right]=2$となります。

(1)　$\left[\dfrac{1}{2}\right] + \left[\dfrac{2}{2}\right] +\left[\dfrac{3}{2}\right] +\left[\dfrac{4}{2}\right] +　・・・+\left[\dfrac{50}{2}\right] $はいくつになるか求めなさい。

(2)　$\left[\dfrac{3}{4}\right] + \left[\dfrac{6}{4}\right] +\left[\dfrac{9}{4}\right] +\left[\dfrac{12}{4}\right] +　・・・+\left[\dfrac{99}{4}\right] $はいくつになるか求めなさい。

(3)　$\left[\dfrac{2}{4}\right] + \left[\dfrac{3}{4}\right] +\left[\dfrac{4}{4}\right] +\left[\dfrac{6}{4}\right] + \left[\dfrac{8}{4}\right] +\left[\dfrac{9}{4}\right] +　・・・+\left[\dfrac{100}{4}\right] $はいくつになるか求めなさい。

　　ただし，分子は2または3の倍数であるとします。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(1)

＜算数解法＞

整数部分に注目すると，分子(numeratorニューメレイタ）が偶数(Even numberイーブン)のとき，

整数部分は，１，２，３，４，・・・・，25

その和は，(1＋25) × 25 ÷ 2 ＝ 325

\

分子が奇数(odd numberオッド）のとき，０，１，２，３，・・・・，24で，

その和は，(1 ＋ 24) × 24 ÷ ２ ＝ 300

\
あわせて，325＋300＝625・・・(答)


\
[ Python ]

和を足していく`sum`をはじめに0に設定

分子`n`を1~50まで動かし，nを分母(denominatorデノミネイタ)2で割った整数部分の数をsumに足していく

In [ ]:
#(1)sample

sum = 0

for n in range(1, 51) :
  sum += n // 2
  #print(sum)  #途中経過の確認用

print(sum)

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(2)

＜算数解法＞

分子が3の倍数で分母が4なので，1~12を1周期として調べてみると

はじめの1周期の和 ＝ 0 ＋ 1 ＋ 2 ＋ 3 ＝ ６

次の1周期の和 ＝ 3 ＋ 4 ＋ 5 ＋ 6 ＝ 18と，3 × 4 ＝ 12ずつ増えていることが分かる

99 ÷ 12 ＝ 8…3より，8周期と99に分かれる

8周期目の和 ＝ 6 ＋ 12 × (8 － 1) ＝ 90

1~8周期の和 ＝ (6 ＋ 90) × 8 ÷ 2 ＝ 384

99 ÷ 4 ＝ 24…3より，すべての和は，384 ＋ 24 ＝ 408・・・(答)

\
[ Python ]

(1)と解法は同じで，分子が3から99まで，3ずつ増えるから

    for n in range(3, 100, 3) :

In [ ]:
#(2)sample

sum = 0

for n in range(3, 100, 3) :
  sum += n // 4
  #print(sum)  #途中経過の確認用

print(sum)

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(3)

＜算数解法＞

分子が2か3の倍数で分母が4なので，1~12を1周期として調べてみると

1周期には8個の数があり，はじめの1周期の和＝0＋0＋1＋1＋2＋2＋2＋3＝11

次の1周期の和＝3＋3＋4＋4＋5＋5＋5＋6＝35と，3×8＝24ずつ増えていることが分かる

100 ÷ 12 ＝ 8…4より，8周期と9周期目は，98，99，100の3個

8周期目の和 ＝ 11 ＋ 24 × (8 － 1) ＝ 179

1~8周期の和 ＝ (11 ＋ 179) × 8 ÷ 2 ＝ 760

98 ÷ 4 ＝ 24…2，より，9周期目の和は，24 ∔ 24 ∔ 25 ＝ 73　より，

すべての和は，760 ＋ 73 ＝ 833・・・(答)

\
[ Python ]

(1)と解法は同じで，分子が2か3で割り切れたら，`n // 4`を計算

In [ ]:
#(3)sample

sum = 0

for n in range(1, 101) :
  if n % 2 == 0 or n % 3 == 0:
    sum += n // 4
    #print(sum)  #途中経過の確認用

print(sum)

###数の問題

---
Q?

Nを整数とします。1からNまでの整数のうち，3の倍数の個数をA，4の倍数の個数をB，

3の倍数でも4の倍数でもない数の個数をCとします。

(1)　Nが50のとき，A，B，Cをそれぞれ求めなさい

(2)　Cが12となるようなNをすべて求めなさい

(3)　Nを1から250までの整数とします。NがCの2倍となるようなNは何個ありますか

(4)　AとBの差が15となるようなNは何個ありますか。

　　 また，これらの数のうち，最も小さい数と最も大きい数をそれぞれ求めなさい。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

Answer

(1)

A = 16, B = 12, C = 26

(2)

N = 23, 24

(3)

104 pieces

(4)

N = 12 pieces

Smallest = 171

Largest = 188

\

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(1)

＜算数解法＞

50÷3＝16あまり2→Aは16個・・・(答)

50÷4＝12あまり2→Bは12個・・・(答)

50÷12＝4あまり2より12の倍数は4個

Cは，50－(16＋12－4)＝26個・・・(答)

\
[ Python ]

A，B，Cの数をカウントするカウンタA,B,Cをつくり0を入れる

1から50までの数を順に変数Nに入れて

Nを3で割ったあまりが0の場合は，Aのカウントを増やし

Nを4で割ったあまりが0の場合は，Bのカウントを増やし

3で割っても4で割ってもあまりが0にならない場合は，Cのカウンタを増やす

forループが終わったら結果を最後に出力

In [ ]:
#(1)sample

A = 0
B = 0
C = 0

for N in range (1, 51):
  if N % 3 == 0:
    A += 1
  if N % 4 == 0:
    B += 1
  if (N % 3 != 0) and (N % 4 != 0):
    C += 1

print("A=", A, "B=", B, "C=", C)

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(2)

＜算数解法＞

3と4の最小公倍数12の中にCが何個かを確認

1，2，5，7，10，11の6個

12÷6＝2より，C＝12になるのは，

12個目の11＋12＝23と13個目の12×2＋1＝25の1つ手前まで

したがって，23と24・・・(答)

\
[ Python ]

CをカウントするCを0

調べる数を1から1000くらいにして，

Cにあてはまるとき，Cのカウントを増やし，Cが12になるときのNを出力

Cが13になったらbreakでforループ中断

In [ ]:
#(2)sample

C = 0
for N in range (1, 1000):
  if (N % 3 != 0) and (N % 4 != 0):
    C += 1
  if C == 12:
    print(N)
  if C == 13:
    break

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(3)

＜算数解法＞

(2)と同じく12個1周期で調べてみる

1周期目で条件にあてはまるCとNの組み合わせは，

(C，N）＝(2，4)，(3，6)，(4，8)，(5，10)，(6，12)

2周期目は，(C，N）＝(8，16)，(9，18)，(10，20)，(11，22)，(12，24)

1周期に5個ずつあるから，250 ÷ 12 ＝ 20あまり10より，

最後の10個の中には4個あるので，5 × 20 ＋ 4 ＝ 104個・・・(答)


\
[ Python ]

Cと条件にあてはまるNを数えるcount変数を0で設定

1から250までの数をNに入れて，CにあてはまるNがあればCのカウントを増やし，

NがCの2倍であればcountを増やす

全部調べ終わったら結果出力

In [ ]:
#(3)sample

C = 0
count = 0
for N in range (1, 251):
  if (N % 3 != 0) and (N % 4 != 0):
    C += 1
  if N == C * 2:
    count += 1
    #print(C,N)

print(count, "個")

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(4)

＜算数解法＞

これも1，2周期を調べると，

AとBの差は1周期目は，0か1で，0にあるNが5個，1になるNが7個

2周期目は1周期目の0のところが1，1のところが2になる

このことから，差が15になるのは15周期目に7個，16周期目に5個で，合計12個・・・(答)

最も小さい数は，12 × 14 ＋ 3 ＝ 171・・・(答)

最も大きい数は，12 × 15 ＋ 8 ＝ 188・・・(答)

\
＜[ Python ]

カウンタはA，Bの数を数えるA，Bと，あてはまるNを入れておくリストのnumと，

Nの数をカウントするcountで，いずれも0にする

1から500くらいまでの数を順番に調べ

(1)と同じ要領でA,Bをしらべ，AとB差が15の場合は，Nをnumリストにappend(アペンド＝追加する)

    `num.append(N)`  

で追加できましたね

countも1つふやす

AとBの差は，Aが多くなることが分かるので，`A - B == 15`でもよいが，

分からないものとして，`abs(A - B) == 15`としておく

`abs()`は，もう出てきましたが，中の数値の絶対値を出力する(返す）組み込み関数です

1周期の中でAとBの差が15にならなくなったらforループを中断(最後までループさせてもいいが)

そのためのコードは

    if abs(A - B) == 17:
      break

となることに注意

AとBの差が15になる周期には，差が15と16の場合があるので，`abs(A - B) == 16`とすると

差が15の最後の方の数がひろえなくなります

最後にcountを出力

最も小さい数と最も大きい数は，前に出てきた`min()`と`max()`

numリストの中に入っている数を調べ，最も小さい数と最も大きい数を出力します(返す）

In [ ]:
#(4)sample

A = 0
B = 0
num = []
count = 0

for N in range (1, 500):
  if N % 3 == 0:
    A += 1
  if N % 4 == 0:
    B += 1
  if abs(A - B) == 15:    #(A - B == 15) or (B - A == 15):でもOK，A - B == 15:だけでもOK
    num.append(N)
    count += 1
  if abs(A - B) == 17:
    break

print(count, "個")
print("最も小さい数は", min(num))
print("最も大きい数は", max(num))

### 約束記号＋簡単な関数・if for

---
Q?

☆の記号 は，２つの数 ＡとＢについて，

Ａ☆Ｂ＝Ａ × (Ａ－Ｂ）の計 算 をするものと約 束 します。

 このとき，（５☆２）☆１２＝ ?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

約 束 に従 って正 確 に計 算 する。

（５☆２ ）＝５×（５－２ ）＝１５

１５☆１２＝１５×（１５－１２ ）＝４５ ・・・・・・・・（答 え）

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

この計算をする関数を作ってみます。

関数を定義するので，`def`

関数名に☆は使えないので，`A_B()`として，引数は2つの数A, B

計算は，A × (A - B) なので，`A * ( A - B)`というコードになり，この計算式を`return`します。 

非常にシンプルですね。

(5 ☆ 2) ☆ 12を計算するには，(5 ☆ 2)の計算結果を変数Cに代入してから，

C ☆ 12を計算すればいいですね。

In [ ]:
#sample

def A_B(A,B):
  return A * (A - B)

C = A_B(5, 2)

print(A_B(C, 12))

45

---
Q?

記号 _をＡ_Ｂ＝３×Ａ－Ｂ＋２と約 束 します。

(1)この約束記号の仕組みを関数defにする

(2) (16_24)_(21_7) = ?

\
(2)算数解答

（16_24）＝3 × 16 － 24 + 2 ＝ 26

（21_7）＝3 × 21 －７ ＋２＝ 58

（26_58）＝3 × 26 － 58 ＋２＝ 22 ・・・・・・・・（答 え）

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

< Python >

(1)

上の問題と同じで，約束記号の関数を作ると，`def A_B(A, B):`

計算式を返します，`return 3 * A - B + 2`

(2)

(16_24)の計算結果を変数Cに代入，同じく(21_7)の計算結果を変数Dに代入し，

C_Dを計算

In [ ]:
#(1)

def A_B(A,B):
  return 3 * A - B + 2

#(2)

C = A_B(16,24)
D = A_B(21, 7)
print(A_B(C,D))

---
Q?

＜Ａ，Ｂ＞＝ （Ａ＋Ｂ）× Ａ － 2とします。

このとき，＜X ，2＞＝ 61です。

\
＜A，B＞を関数defで定義して，Xを求める

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

算数解答

約束に従って式を作ると，

(X＋2) × X－2 ＝ 61 で，（X＋2) × X ＝ 63 となるので，これに当てはまる数は，

(7 + 2) × 7= 63 より，X ＝ 7 ・・・・・・ ・・（答 え）

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

前の問題と同じで，`def`と`return`を使って関数を定義

Xの範囲を1から20くらいに設定し，その範囲であてはまるXがあれば出力し，forループはbreak

`if statement`の中で，つくった関数を利用して条件を作成する

In [ ]:

def A_B(A, B):
  return (A + B) * A - 2

for X in range(1, 21):
  if A_B(X, 2) == 61:
    print(X)
    break

###最大公約数

---
Q?

2つの整数をinputし，最大公約数を求めるには？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

input()関数(プログラム)で2つの数a，bを入力

aの方が小さければaでbを割り，bの方が小さければbでaを割る

    if a < b :
      divisor = a
    else:
      divisor = b

`a, b = b, a`など入れかえを利用する方法もありますので，お好みで

この問題の場合は，数の範囲が定まらないので`while文`の利用します

\
divisorがaとb両方を割り切るならば`break`で反復を終了

そうでない場合はdivisorの数を1減らす

`break`で反復終了のときは終了時のdivisorが最大公約数になり，出力

In [ ]:
#sample

a = int(input("整数aを入力：a = "))
b = int(input("整数bを入力：b = "))

if a < b :
  divisor = a
else:
  divisor = b
while True :                                               #while divisor > 1:でもOK
  if a % divisor == 0 and b % divisor == 0:
    break
  else :                                                      #else :はつけずにifと同じインデントでdivisor -= 1でもOK
    divisor -= 1

print("最大公約数は", divisor, "です。")

---
最小公倍数については，

(最大公約数) × (最小公倍数) ＝ (2つの数の積)

なので，最大公約数を求めて

\
(最小公倍数)＝$\dfrac{(2つの数の積)}{(最大公約数)}$

で計算できます

---
Q?

次のように2つの自然数`a`, `b` の最大公約数を求める方法を ユークリッドの互除法といいます

➀　`a`を`b`で割り，余り`x`を求める

②　`b` を①で求めた余り`x`で割り，その余り`y`を求める

③　`x` を②で求めた余り`y`で割り，その余り`z`を求める

この操作を繰り返すと最後に割り切れます

割り切れたときに割った数が，求める`a`, `b`の最大公約数になります

\
例えば，2453と10704の最大公約数をユークリッドの互除法でやると，

10704 ÷ 2453 ＝ 4あまり892

2453 ÷ 892 ＝ 2あまり669

892 ÷ 669 ＝ 1あまり223

669 ÷ 223 ＝ 3

\
この計算から，2453と10704の最大公約数は223

\
このユークリッドの互除法で最大公約数を求めるプログラムは？

また2つの数をinputするようにしてください

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

a,bのどちらが大きいにかからわず，`a % b`を計算し`r`に余りを代入

`r`が0になったところで，`break`で，`b`を最大公約数として出力

`r`が0にならない場合は，`a = b`でaにbを代入し，`b = r`で，bにrを代入

これにより，a < bだった場合はaとbが入れ替わるようにします

In [ ]:
#sample

a = int(input("整数aを入力：a = "))
b = int(input("整数bを入力：b = "))

while True:
  r = a % b
  if r == 0:
    break
  else:                  #else:入れずにifと同じインデントでa = bとb = rでもOK
    a = b
    b = r

print("最大公約数は", b, "です。")

###素因数分解

---
Q?

自然数(10000くらいまで）を入れると素因数分解するプログラムは？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

自然数(Natural number ナチュラル　ナンバー)は，1以上の整数のことで，

自然数は整数(integerインテガー)の一部というイメージ

\
➀　素因数分解する数をinput

②　最初の割り算をする素数(prime number プライム　ナンバー）を入れる変数を`p`として

はじめは2を入れる，

また，素因数(prime factorプライムファクタ―）を入れるリストの空箱`factor = []`を用意

③　自然数nがpで割り切れる場合，pをfactorにappendし，

nをpで割った数を新たなnとし，この処理をnがpで割り切れなくなるまで繰り返す

④　nをpで割り切れなくなったら，pに1をたす

⑤　n > 1　であれば③に戻り，n＝1の場合は終了する

\
while文が2つダブって分かりにくいですが，

1番目のwhileは，「nが1より大きい場合にPに1をたして2番目のwhileを繰り返す」というwhileで，

2番目のwhileは，「同じ素因数で割れる場合は割り算を繰り返す」というwhile

In [ ]:
#sample

n = int(input("素因数分解する数を入力："))
p = 2
factor =[]

while n > 1:
  while n % p == 0:
    factor.append(p)
    n = n / p
  p += 1
print('素因数は', factor)
#print('最大の素因数は', max(factor))   #1番大きい素因数を出力したいとき

###素因数分解する関数

---
Q?

素因数分解をする関数は？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

上で作ったプログラムを関数にするだけです。

ここでは，`while文`を1つにして，`for ループ`を加えています。

In [ ]:
#sample

def p_factorize(x):
  factor = []
  for i in range(2, x+1):
      while x % i==0:
        factor.append(i)
        x = x / i
  return factor

p_factorize(300)

###素数

---
Q?

1から100までの中にある素数を書き出すプログラムは？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

素数(prime numberプライムナンバー）は，

約数(divisorディバイザ)が1とその数自身の2個だけの数のこと

\
ちなみに，１と素数以外の数を合成数(composit numberコンポジットナンバー)というそうです

約数の数が3個以上の数のことです

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

2から100までの数(1は素数ではないので２から)をforループで変数aに入れて，

約数の候補である数を，2から(取り出した数)－1までの数を順に取り出して変数bに入れる

\
aがbで割れたらaは素数ではないので`break`でforループを中断し，次の数にうつる

そうでない場合(`else`)，つまり，aがどのbでも割れなかったらaは素数なので，`print`で出力

In [ ]:
#sample

for a in range(2, 101):
    for b in range(2, a):
        if a % b == 0:
            break
    else:
        print(a, end=', ')    #別にカンマ(，)commaで区切る必要はありませんが

---
Q?

入力された自然数が素数であるかの判定するプログラムは？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

input関数で自然数を入力し，それをint()関数で整数に直して変数`a`に代入

aが1だったら「1(a)は素数ではありません」と出力



aが2以上の場合は，合成数か素数なので，その計算は上と同じで，

合成数の場合は，「＜入力数＞(a)は素数ではありません」と出力

それ以外(`else`)は素数なので「＜入力数＞(a)は素数です」と出力

In [ ]:
#sample

a = int(input("自然数を入力："))

if a == 1:
   print(a, "は素数ではありません")

elif a >= 2 :
  for b in range(2, a):
    if a % b == 0:
      print(a, "は素数ではありません")
      break

  else:
    print(a, "は素数です")

###場合の数

###選ぶ

---
Q?

5人の生徒の中から2人のそうじ当番を選ぶ選び方は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

5人から2人を選ぶ選び方は，$\dfrac{5×4}{2×1}＝10通り$・・・(答)

\
[ Python ]

選び方を数えるcount変数を0に設定

a，b，c，d，eの5人で，掃除当番の場合は1，当番でない場合は0とすると，

5人とも1か0のどちらかだから，すべての場合をforループでつくると，

    for a in range(2):
      for b in range(2):
        for c in range(2):
          for d in range(2):
            for e in range(2):

当番は2人だから，和が2の場合にカウントし，すべて調べ終わったところでcount出力

               if a + b + c + d + e == 2:
                  count += 1

    print(count, '通り')

In [ ]:
#sample

count = 0

for a in range(2):
  for b in range(2):
    for c in range(2):
      for d in range(2):
        for e in range(2):
          if a + b + c + d + e == 2:
            print(a,b,c,d,e)
            count += 1

print(count, '通り')

---
Q?

5人の生徒の中からそうじ当番を選ぶ選び方は何通り？人数は1人～5人のいずれか

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

5人それぞれに掃除当番医なるかならないかで2通りだから，全部で

2 × 2 × 2 × 2 × 2 ＝ 32通り

この中には全員当番にならない場合が1つ含まれるので，それをのぞいて，

32 － 1 ＝ 31通り・・・(答)

\
[ Python ]

前の問題と考え方は全く同じで，カウントする場合は，和が0以外の場合で，

               if a + b + c + d + e != 0:

In [ ]:
#各人はそうじ当番になるかならないかで，なる＝1，ならない＝0として
#全部の場合の数を調べる
#ただし全員0をのぞく

count = 0
for a in range(2):
  for b in range(2):
    for c in range(2):
      for d in range(2):
        for e in range(2):
          if a + b + c + d + e != 0:
            count += 1               
print(count,"通り")

###並べる

---
Q?

白いボール3個と，黒いボール6個の9個のボールを一列に並べるときの並べ方は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

「一列に並べた9個の箱に3個の白いボールを入れる入れ方は何通りか」と読みかえることができます

白を入れたら黒を入れる箱は自動的に決まる

そうすると，9個から3個選ぶ選び方の場合の数で，$\dfrac{9×8×7}{3×2×1}＝84通り$・・・(答)

\
[ Python ]

場合の数に関しては，Pythonでもいくつかのプログラム(関数)があり，

将来はそれを使って場合の数を求めることになるでしょうが，

ここではfor文，if文など，基本的な考え方を利用してコードを考えます。

\
選び方を数えるcount変数を0に設定

白ボール＝1，黒ボール＝0としてa~iの箱に白か黒を入れる入れ方を考える

a，b，c，d，e，f，g，h，iの9箱で，それぞれ白か黒が入るから，すべての場合をforループでつくると，

    for a in range(2):
      for b in range(2):
        for c in range(2):
          for d in range(2):
            for e in range(2):
              for f in range(2):
                for g in range(2):
                  for h in range(2):
                    for i in range(2):

白は3個，和が3の場合にカウントし，すべて調べ終わったところでcount出力

               if a + b + c + d + e + f + g + h + i == 3:
                  count += 1

    print(count, '通り')

In [ ]:
#sample

count=0
for a in range(2):
  for b in range(2):
    for c in range(2):
      for d in range(2):
        for e in range(2):
          for f in range(2):
            for g in range(2):
              for h in range(2):
                for i in range(2):
                  #print(a,b,c,d,e,f,g,h,i)
                  if a + b + c + d + e + f + g + h + i == 3:
                    count+=1
print(count,"通り")

forループの部分を，こののノートの後半で出てくる(おそらく)「リストの内包表記」を利用した方法で書くと

In [ ]:
#リスト内包表記

list1 = [0,1]
list2 = [[a,b,c,d,e,f,g,h,i] for a in list1 for b in list1 for c in list1 for d in list1 for e in list1 for f in list1 for g in list1 for h in list1 for i in list1]

for a,b,c,d,e,f,g,h,i in list2:
  print(a,b,c,d,e,f,g,h,i)

###itertools

さらに，前にも少し説明しましたitertoolsというプログラム(モジュール）

を利用する方法もありますが，考え方はsampleと全く同じです

In [ ]:
#itertoolsを利用

import itertools

list1 = itertools.product(range(2),repeat=9)

count=0
for a,b,c,d,e,f,g,h,i in list1:
  if a + b + c + d + e + f + g + h + i ==3:
    count+=1

print(count, '通り')

###scipy

さらにちなみにscipyというプログラム(モジュール)には組み合わせを計算する

special.com()というプログラムがあり，それを使うと＜算数解法＞をそのまま計算します

In [ ]:
# scipylモジュールからspecialプログラムをインポート
from scipy import special

# 9個から3個をとって並べる組合わせの数
x = special.comb(9, 3)

print(int(x), "通り")

---
＜Check it Out　その2＞

算数の問題は，問題文を正確に読み，問題文に書かれている条件を自分が理解しやすいように

整理できればほとんど解けますよね

\
問題を正確に解釈して条件整理をすることが大切なわけです

\
Pythonでも同じで，数や文字などのデータ(情報とも言うようです）

を整理できればプログラムが作れますので

どのようにデータを整理するかを考えることが大切です

\
コード作成のテクニックは基本が身についていればすぐに覚えられます

\
今のうちに`考える力(基本力）`を養いましょう

---
Q?

7個の数字1, 1, 1, 2, 2, 3, 3を同じ数字が隣り合わないように一列に並べる並べ方は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

1番目が1，2，3になる場合で，それぞれ樹系図で調べる

ただし，ここでは2と3の数が同じなので，3の場合は2の場合と同じになる

このテキストで樹系図がかけなかったのでちょっと見にくい表になってしまいました

\
➀　1番目が1で，2番目が2の場合を調べると，下の表のように10通り

②　1番目が1で，2番目が3の場合も同じ条件なので10通り

\

| 1番 | 2番 | 3番 | 4番  | 5番  | 6番  | 7番  |
|:------:|:------:|:------:|:------:|:------:|:------:|:------:|
|  |  |  |  | 1 | 3 | NG |
|  |  |  | 2 |  |  |  |
|  |  |  |  | 3 | 1 | 3 |
|  |  | 1 |  |  |  |  |
|  |  |  |  |  | 2 | 3 |
|  |  |  |  | 1 |  |  |
|  |  |  |  |  | 3 | 2 |
|  |  |  | 3 |  |  |  |
|  |  |  |  |  | 1 | 3 |
|  |  |  |  | 2 |  |  |
|  |  |  |  |  | 3 | 1 |
| 1 | 2 |  |  |  |  |  |
|  |  |  |  |  |  |  |
|  |  |  |  |  | 1 | 3 |
|  |  |  |  | 2 |  |  |
|  |  |  | 1 |  | 3 | 1 |
|  |  |  |  |  |  |  |
|  |  |  |  |  | 1 | 2 |
|  |  |  |  | 3 |  |  |
|  |  | 3 |  |  | 2 | 1 |
|  |  |  |  |  |  |  |
|  |  |  |  | 1 | 3 | 1 |
|  |  |  | 2 |  |  |  |
|  |  |  |  | 3 | 1 | NG |

\
③　1番目が2で，2番目が1と3の場合を調べると，下の表のように9通り

\
④　1番目が3で，2番目が1と2の場合も9通り

\

| 1番 | 2番 | 3番 | 4番  | 5番  | 6番  | 7番  |
|:------:|:------:|:------:|:------:|:------:|:------:|:------:|
|  |  |  | 1 | 3 | 1 | 3 |
|  |  | 2 |  |  |  |  |
|  |  |  | 3 | 1 | 3 | 1 |
|  | 1 |  |  |  |  |  |
|  |  |  |  |  | 1 | 3 |
|  |  |  |  | 2 |  | |
|  |  |  | 1 |  | 3 | 1 |
|  |  |  |  |  |  |  |
|  |  |  |  |  | 1 | 2 |
|  |  |  |  | 3 |  |  |
|  |  | 3 |  |  | 2 | 1 |
|  |  |  |  |  |  |  |
| 1 |  |  |  |  |  |  |
|  |  |  |  |  |  |  |
|  |  |  |  | 1 | 3 | 1 |
|  |  |  | 2 |  |  |  |
|  |  |  |  | 3 | 1 | NG |
|  |  |  |  |  |  |  |
|  |  |  |  | 1 | 3 | 1 |
|  |  |  | 2 |  |  |  |
|  |  | 1 |  | 3 | 1 | NG |
|  |  |  |  |  |  |  |
|  |  |  |  | 1 | 2 | 1 |
|  |  |  | 3 |  |  |  |
|  |  |  |  | 2 | 1 | NG |
|  | 3 |  |  |  |  |  |
|  |  |  |  |  |  |  |
|  |  |  | 1 | 3 | 1 | NG |
|  |  | 2 |  |  |  |  |
|  |  |  | 3 | 1 | NG |  |

\
以上➀～④の合計で，10＋10＋9×2＝38通り・・・(答)


\
＜Python＞

7個の変数のすべてのとり得る場合をの中から，1 + 1 + 1 + 2 + 2 + 3 + 3 = 13

となる場合を計算しようとすると，1 + 1 + 1 + 1 + 3 + 3 + 3 = 13など，

合計が13になるほかの組み合わせもカウントしてしまう。

\
そこで，1, 1, 1, 2, 2, 3, 3を1, 1, 1, 20, 20, 300, 300としてプログラムを作り，

合計が1＋1＋2＋20＋20＋300＋300＝643となる場合を考える

\
そうすると，1が3個，2が2個，3が2個の場合だけをカウントできる

\
カウンタを0に設定し，

    count = 0

a～gが1，20，300のいずれかになるすべての場合をつくり，

    for a in [1,20,300]:
      for b in [1,20,300]:
        for c in [1,20,300]:
          for d in [1,20,300]:
            for e in [1,20,300]:
              for f in [1,20,300]:
                for g in [1,20,300]:

合計が643になり，となり合う数が異なる場合をif文でつくり，

                  if a + b + c + d + e + f + g == 643 and \
                  a != b and b != c and c != d and d != e and e != f and f != g :

条件にあう場合をカウントし，すべてのループが終了したら，最後にカウントを出力

                    count+=1

    print(count, '通り')

In [ ]:
#sample

count = 0

for a in [1, 20, 300] :
  for b in [1, 20, 300] :
    for c in [1, 20, 300] :
      for d in [1, 20, 300] :
        for e in [1, 20, 300] :
          for f in [1, 20, 300] :
            for g in [1, 20, 300] :
              if a + b + c + d + e + f + g == 643 and \
              a != b and b != c and c != d and d != e and e != f and f != g:
                #print(a,b,c,d,e,f,g)
                count += 1

print(count, '通り')

###プレゼント交換

---
Q?

何人かの子供がプレゼントを持ち寄って交換します。

必ず，自分が持ってきたプレゼントとは異なるプレゼントを持ち帰ることにします。

次の場合，プレゼントの交換の仕方は何通りありますか。

(1)3人で交換する場合

(2)4人で交換する場合

(3)5人で交換する場合

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞
 
(1)

a, b, cの3人がもらうプレゼントの組み合わせは

(a, b, c) = (b, c, a), (c, a, b) の2通り・・・(答)

(2)

a, b, c, dの4人の場合，aのプレゼントをbがもらう場合，

(a, b, c, d) = (b, a, d, c), (b, c, d, a), (b, d, a, c)の3通りで，

aのプレゼントをc,dがもらう場合もそれぞれ3通りなので，3 × 3 ＝ 9通り・・・(答)

(3)

a, b, c, d, eの5人の場合，aがbのプレゼントをもらう場合を考える

\
bがaのプレゼントをもらう場合は，残りc, d, eの3人が交換することになるので(1)より2通り，

bがcのプレゼントをもらう場合は，b, c, d, eの4人が交換する場合と同じなので(2)より3通り，

bがdのプレゼントをもらう場合も，b, c, d, eの4人が交換する場合と同じなので(2)より3通り，

bがeのプレゼントをもらう場合も，b, c, d, eの4人が交換する場合と同じなので(2)より3通り，

\
以上からaがbのプレゼントをもらう場合は全部で11通り

\
aがc, d, eのプレゼントをもらう場合も上と同じようにそれぞれ11通りあるから

全部で11 × 4 ＝ 44通り・・・(答)

＜Python＞


(1),(2)の場合は同様なので(3)だけのプログラム

a,b,c,d,eの持ってきたプレゼントをそれぞれ1, 10, 100, 1000, 10000とする

a,b,c,d,eがもらう可能性のあるプレゼントをリストにする(自分のプレゼントはもらわない)

組み合わせがOKであればcountで数える

条件は，1, 10, 100, 1000, 10000は一人一つなので，合計が11111であればOK

    count = 0

    for a in [10, 100, 1000, 10000] :
      for b in [1, 100, 1000, 10000] :
        for c in [1, 10, 1000, 10000] :
          for d in [1, 10, 100, 10000] :
            for e in [1, 10, 100, 1000] :
              if a + b + c + d + e == 11111 :
                count += 1
 
    print(count, '通り')

In [ ]:
#sample (3)だけ

count = 0

for a in [10, 100, 1000, 10000] :
  for b in [1, 100, 1000, 10000] :
    for c in [1, 10, 1000, 10000] :
      for d in [1, 10, 100, 10000] :
        for e in [1, 10, 100, 1000] :
          if a + b + c + d + e == 11111 :
            count += 1
            #print([a, b, c, d, e])        #確認用

print(count, '通り')

###オオカミとヒツジ　　len()

---
Q?

別々のオリに入っているオオカミ3匹とヒツジ4匹を1つのオリに入れたいのですが，

オオカミの数がヒツジの数より多くなると（同じときは大丈夫）ヒツジはオオカミに食べられてしまいます。

ヒツジがオオカミに食べられないような入れ方は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

下のような道順の場合の数を数える表で求めることができ，全部で19通り・・・(答)




|  |  |  |   |   |   |   |  | |  |  |
|:----:|:----:|:----:|:----:|:----:|:----:|:----:|:----:|:----:|:----:|:----:|
| オ | 1 | NG | ー | NG |ー  | NG | ー | 7 | ー | 19 |
| オ |  | ｜ |  | ｜ |  | ｜ | |｜ |   | ｜  |
|カ | 1 | NG | ー | NG | ー | 3 | ー  |  7 | ー  | 12  |
| ミ |  | ｜ |  | ｜ |  | ｜ |   | ｜  |   | ｜  |
| の | 1 | 1 | ー | 2 | ー | 3 | ー  |  4 | ー  | 5  |
| 数 |  | ｜ |  | ｜ |  | ｜ |   | ｜  |   | ｜  |
|  | 0 | 0 | ー | 1 | ー | 1 | ー  |  1 | ー  |  1 |
|  |  | ひ |つ  |じ  | の | 数 |   |

＜Python＞

オリに入れる1番目から7番目の順番をa～gとして，オオカミ(wolf)を1，ヒツジ(sheep)を10とし，

どちらかをいれるすべての場合をforループでつくり，

合計が1＋1＋1＋10＋10＋10＋10＝43となる場合の順番のリストlist1をつくる

    list1 = []

    for a in [1 ,10] :
      for b in [1 ,10] :
       for c in [1 ,10] :
          for d in [1 ,10] :
            for e in [1 ,10] :
              for f in [1 ,10] :
                for g in [1 ,10] :
                  if a + b + c + d + e + f + g == 43 :
                    list1.append([a, b, c, d, e, f, g])

    print(list1)           #リスト確認用         
    print(len(list1))     #リスト数確認用

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

`len()`は，`(  )`の中の個数を表示する組み込み関数です

上の`len(list1)`ではリストの中の要素の数を表示します(「返す」という)

list1の要素は1と10を並べたリストになっているので，リストの個数を表示します

文字にも使えます

`len("alphabet")`とすると，alphabetをつくる英文字の数＝8となります

`len(["dog犬", "catネコ", "horse馬", "giraffeキリン", "bear熊", "elephant象", `

`"tiger虎", "monkeyサル", "gorillaゴリラ", "rabbitうさぎ", "snakeヘビ", "lionライオン"])`

だとリストの中の動物の名前の要素の数＝12を返します

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

コードのつづきですが，

条件にあてはまる順番を数える`count`を0

list1の中の順番リストを1つずつ取り出して別のリスト`list_n`に入れます

\
`list_n`の中の7つの要素を順番に取り出し，その合計を変数`total`で数えていきます

新しいループが始まるときは`total`は0に設定

\
オオカミの数の合計は一の位で，ヒツジの数の合計は十の位になるので，

はじめにオオカミが1匹入るのはＯＫなので，

1以外で，一の位が十の位より大きくなった場合はＮＧとなり，

`break`でループを止めて，次の順番リストに移る

\
`total % 10`で一の位を，`total // 10`で十の位を表せます（下で「算術演算子」確認）

中断せずにリストの最後の要素まで進み，`total`が43になったらＯＫなのでカウント

\
全部調べ終わったら最後に`count`をprintで出力

\
`range()`では，例えば０~4の場合は，`range(0,5)`でもOKですが，

普通0は省略して`range(5)`と書きます

`range(len(list1))`も`range(0, len(list1))`のことです

`(  )`の中の引数(ひきすう）は数字だけでなく，変数や組み込み関数も使えます


    count = 0

    for a in range(len(list1)):
      listn = list1[a]
      #print(listn)
      total = 0
      for b in range(7):
        total += listn[b]
        #print(total)
        if total != 1 and total % 10 > total // 10:
          break
        elif total == 43:
          count += 1
          #print(total)

    print(count, '通り')

ちょっとめんどくさいコードになりましたが，もっと工夫ができそうです

In [ ]:
#sample

list1 = []

for a in [1 ,10] :
  for b in [1 ,10] :
   for c in [1 ,10] :
      for d in [1 ,10] :
        for e in [1 ,10] :
          for f in [1 ,10] :
            for g in [1 ,10] :
              if a + b + c + d + e + f + g == 43 :
                list1.append([a, b, c, d, e, f, g])

print(list1)           #リスト確認用         
print(len(list1))     #リスト数確認用

count = 0

for a in range(len(list1)):
  list_n = list1[a]
  #print(listn)
  total = 0
  for b in range(7):
    total += list_n[b]
    #print(total)
    if total != 1 and total % 10 > total // 10:
      break
    elif total == 43:
      count += 1
      #print(total)

print(count, '通り')

★算術演算子(さんじゅつえんざんし）まとめ

| 演算 | 記号 |
|------|------|
| 足し算 | `+` |
| 引き算 | `-` |
| かけ算 | `*` |
| 割り算 | `/` |
| べき乗 | `**` |  
| 割り算(商だけ） | `//` |
| 割り算(余りだけ） | `%` |

###len, set

---
Q?

いくつを返すでしょうか？

    len([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 6, 2, 4, 8])

    len({0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 6, 2, 4, 8})

`{ }`（波カッコ）は`集合 = set`を表します

\
(`set`の説明→[▲セット](https://colab.research.google.com/github/utokyo-ipp/utokyo-ipp.github.io/blob/master/colab/appendix/2-set.ipynb#scrollTo=fzbK-1ZQVLYk) )

\
集合に`len()`すると，ダブっている数字は数えません

###お菓子の詰め合わせ

---
Q?

お菓子Aが1個，お菓子Bが2個，お菓子Cが3個あります。

この中からいくつかを袋に詰めプレゼントをつくるとき，プレゼントの作り方は何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

Aは0個か1個の2通り，Bは0～2個の3通り，Cは0~3個の4通りだから，

組み合わせは全部で，2×3×4＝24通りだが，これにはどれも0個の場合が含まれているので

24－1＝23通り・・・(答)

(別解)

数え上げていく練習もしておきましょう

1個~6個の場合があるので，数え上げていく

➀　1個の場合：A,B,Cの3通り

②　2個の場合：AB,AC,BB,BC,CCの5通り

③　3個の場合：ABB,ACC,ABC,BBC,BCC,CCCの6通り

④　4個の場合：ABBC,ABCC,ACCC,BBCC,BCCCの5通り

⑤　5個の場合：ABCCC,ABBCC,BBCCCの3通り

⑥　6個の場合：ABBCCCの1通り

全部で，3＋5＋6＋5＋3＋1＝23通り・・・(答)

\
＜Python＞

Aは0個か1個，Bは0～2個，Cは0~3個ですべての場合をつくり，

どれも0個の場合を除いてカウント

In [ ]:
#sample

count=0
for A in [0, 1] :
  for B in [0, 1, 2] :
    for C in [0, 1, 2, 3] :
      if A + B + C != 0 :
        count += 1
        #print(A,B,C)
print(count, "通り")

###8枚から3枚取り出しならべる

---
Q?



1から8までの8枚のカードから3枚を取り出し，小さいほうからならべるとき，

(1) 3枚のカードの数字が連続した3つの数になるのは何通り？

(2) 3枚のカードの数字が等間隔に並ぶのは何通り？

(3) 3枚のカードの数字のうち2つだけが連続した数になるのは何通り？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

(1)

123, 234, 345, 456, 567, 678 の6通り・・・(答)

(2)

(1)も等間隔になっているので含まれます

他に，135, 246, 357, 468, 147, 258の6通りで，全部で6＋6＝12通り・・・(答)

(3)

調べ上げていきましょう

1,2,□：　5通り\
2,3,□：　4通り\
3,4,□：　4通り\
4,5,□：　4通り\
5,6,□：　4通り\
6,7,□：　4通り\
7,8,□：　5通り

以上全部で30通り・・・(答)

\
＜Python＞

(1)

カウント設定

a < b < c とすると，aは3つの数の先頭なので1～6まで，

bはaより1以上大きい数なので，ｂの範囲をa+1～7までという設定ができます

cはbより1以上大きい数なので，cの範囲はb+1～8までとできます

それぞれの数の範囲の中ですべての数を数え上げて，

b＝a＋1，c＝b＋１となる場合はカウント

In [ ]:
#sample

count1 = 0

for a in range(1, 7) :
  for b in range(a+1, 8) :
    for c in range(b+1, 9) :
      if b == a + 1 and c == b + 1:
        count1 += 1
        #print(a,b,c)

print("(1) ", count1, "通り")

＜Python＞

(2)

カウント設定

数の範囲は(1)と同じ

(1)の場合，または(or)，差が2，または(or)，3，または(or)，4の場合をカウント

In [ ]:
#sample

count2 = 0

for a in range(1, 7) :
  for b in range(a+1, 8) :
    for c in range(b+1, 9) :
      if (b == a + 1 and c == b + 1) or \
      (b == a + 2 and c == b + 2) or (b == a + 3 and c == b + 3) \
        or (b == a + 4 and c == b + 4):
        count2 += 1
        print(a,b,c)
 
print("(2) ", count2, "通り")

＜Python＞

(3)

カウント設定

数の範囲は(1)と同じ

aとbの差が1で，cはbより大きい場合と，または(or)，

bとcの差が1で，aはbより小さい場合をカウント

In [ ]:
#sample

count3 = 0

for a in range(1, 7) :
  for b in range(a+1, 8) :
    for c in range(b+1, 9) :
      if (b == a + 1 and c > b + 1) or (b > a + 1 and c == b + 1):
        count3 += 1
        print(a,b,c)

print("(3) ", count3, "通り")

(1)～(3)をまとめて書いたコード

In [ ]:
#sample

count1 = 0
count2 = 0
count3 = 0

for a in range(1, 7) :
  for b in range(a+1, 8) :
    for c in range(b+1, 9) :
      if b == a + 1 and c == b + 1:
        count1 += 1
        print(a,b,c)
      if (b == a + 2 and c == b + 2) or (b == a + 3 and c == b + 3) \
        or (b == a + 4 and c == b + 4):
        count2 += 1
        print(a,b,c)
      if (b == a + 1 and c > b + 1) or (b > a + 1 and c == b + 1):
        count3 += 1
        print(a,b,c)

print("(1) ", count1, "通り")
print("(2) ", count1 + count2, "通り")
print("(3) ", count3, "通り")

###ツルカメ和と差

---
Q?

つる[crane](https://translate.google.co.jp/?hl=ja&sl=auto&tl=ja&text=crane&op=translate)(クレイン)とカメ[turtle](https://translate.google.co.jp/?hl=ja&sl=auto&tl=ja&text=turtle&op=translate)(タートル）が合わせて42います。

その足の数を合わせると124本です。

つるは何羽いますか。

\
There are 42 carnes and tutles in total.

Sum of legs is 124.

Find the number of cranes.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

足の数は，つるは2本，カメは4本

全部カメだとすると，足の数の合計は4×42＝168本

この数は実際より168－124＝44本多い

これは全部カメとしたからで，カメ1匹とつる1羽を入れかえると

いれかえるごとに4－2＝2本づつ足の数がへるから

124本にするために44本へらすには44÷2＝22回入れかえればよい。

22回入れかえるから入れかえたつるの数は22羽・・・(答え）

\
＜Python＞

つるの数をcrane(クレイン＝つる)羽として，つるの数の最大は42で，カメの数は42－crane

つるが1羽から42羽までの数を変数craneに入れて調べていく

足の数を式で表し，それが124になる場合，その時のcraneを出力

文字列の書式を整える書式化文字列`f`を使って書いてます

        print(f'鶴は{crane}羽・・・(答)　亀は{42 - crane}匹')

答えが見つかったら`break`で，ループ終了

In [ ]:
#sample

for crane in range(1, 43):
  if 2 * crane + 4 * (42 - crane) == 124 :
    print(f'鶴は{crane}羽・・・(答)　亀は{42 - crane}匹')
    break

---
###書式化文字列 f-strings (Formatted String Literals)

この構文を使用すると，{変数}と書くと，変数の値(中身)に置き換わった文字列になります。

下のセルがサンプルです。

このノートでも時々出てくると思いますので，使い方に慣れていってください。

In [ ]:
name = '久美子'
score = 95
animal = 'いのしし'

print(f"私の名前は{name}です。算数の点数は{score}でした。好きな動物は{animal}です。")

###比と割合

---
Q?

普通の生木は72％の水分を含む。

乾かしてもはじめの半分の水分は残るとすると，乾かした木には何％の水分が含まれますか。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

乾かす前の生木の重さを100gとすると，水分は72gで，木の部分は28g

乾かしたあとの水分は，$72×\dfrac{1}{2}＝36g$で木の重さはそのまま28g

水分の割合は，$\dfrac{36}{36 + 28}＝0.5625$＝56.25%・・・(答)

\
＜Python＞

for文などで総当たりする問題ではなく，算数の解法をそのままコードにするだけ

変数名の英語で，

raw_wood＝生木の重さ　(raw生，wood木)

water＝乾燥前の水分　(water水）

after_dry＝乾燥後の水分　(after：「～の後に」という意味の前置詞，dry乾燥）

In [ ]:
#sample

raw_wood = 100
water = raw_wood * 0.72
wood = 100 - water
after_dry = water * 0.5
answer = after_dry / (after_dry + wood) * 100
print(answer, "%")

---
Q?

ある選挙区で投票率が61％，投票者が48800人でした。

この選挙区の女子有権者数は32000人，女子の投票率が70％とすると，男子の投票率は何％？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

投票率＝投票者÷有権者数×100

この選挙区の有権者数＝48800÷0.61＝80000人

女子の投票者数＝32000×0.7＝22400人

男子の有権者数＝80000－32000＝48000人

男子の投票者数＝48800－22400＝26400人

男子の投票率＝26400÷48000×100＝55%・・・(答)

\
＜Python＞

上の問題と同じく総当たりで解く問題ではない

英語では，投票者も有権者も，voter(ヴォ―ター）を使うみたい　　

ちなみに投票/投票するはvote，選挙はelection(イレクション）

女子＝female, 男子＝male  (フィメイルとメイル）

sampleの変数は，この選挙区の有権者数はtotal，女子の投票者数はfv，男子の投票率はxとしました

In [ ]:
#sample

total = 48800 / 0.61
fv = 32000 * 0.7
x = (48800 -  fv) / (total - 32000) * 100
print(x, "％")

---
Q?

Aの持っているシールの枚数の$\dfrac{2}{5}$とBの持っているシールの枚数の$\dfrac{3}{4}$が等しく，

AはBより21枚多く持っているとき，Bは何枚持っていますか。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

$(Aの枚数)×\dfrac{2}{5}＝(Bの枚数)×\dfrac{3}{4}$だから，

(Aの枚数)：(Bの枚数)＝$\dfrac{5}{2}：\dfrac{4}{3}＝15:8$

15－8＝7が21枚に相当するから，(Bの枚数)＝21枚 × $\dfrac{8}{7}$＝24枚・・・(答)


\
＜Python＞

AとBの枚数をそれぞれ99枚までと決めてその範囲であてはまる数を探す

if文は，問題の2つの条件を式で表す

見つかったら，Bの枚数を出力

In [ ]:
#sample

for A in range(100) :
  for B in range(100) :
    if A * 2/5 == B * 3/4 and A - B == 21 :
      print(B, "枚")

###濃度 食塩水

---
Q?

容器Aには濃度20%の食塩水が入っています。

容器Bには容器Aとは異なる濃度の食塩水が240g入っています。

容器Aと容器Bに含まれる食塩の重さは等しく，

容器Aと容器Bの食塩水を全部混ぜると10%の食塩水ができます。

容器Aに入っていた食塩水の重さは何g？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

容器Aに入っていた食塩水の重さをaグラムとすると，

容器A，Bに入っている食塩の重さは同じだから，それぞれ a×0.2

両方全部まぜると10%の食塩水になるから，(a × 0.2 × 2) ÷ (a ＋ 240) ＝ 0.1

a × 0.4 ＝ (a ∔ 240) × 0.1

分配法則で計算して

a × 0.4 ＝ a × 0.1 ＋ 24

この式から

a × 0.3 ＝ 24とわかるから，

a ＝ 80g・・・(答)

\
＜Python＞

aが整数の場合を想定して，for文を使って考える

ほかの解法はの後ほど(sympyモジュールの利用）

aを500gまでの範囲で，if文の条件式は上と同じ

aがみつかったら出力して`break`

In [ ]:
#sample

for a in range(1,500):
  if a * 0.2 * 2 / (a + 240) == 0.1 :
    print(a,'g')
    break

###数の操作

---
Q?

ある整 数 について，次 のような操 作 をします

＜操 作 ＞
① その数 が３の倍 数 ならば３でわります

② その数 が３の倍 数 でなければ３でわったときのあまりをその数 からひきます

③ ①または②の操 作 をくり返 し，０になったときに，その操 作 を終 わりにします

例 えば，はじめの整 数 が３６のときは

３６ →１２ → ４ → ３ →１→ ０

のように，５回 の操 作 で０となります

このとき，次 の問 いに答 えなさい

（１） ７８は何 回 の操 作 で０になりますか

（２） ５回 の操 作 で０になる数 は何 個 ありますか

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

（１ ） 正 確 に操 作 を実 行 する

１回 目 ： ７８÷３＝２６

２回 目 ： ２６÷３＝８ ・・・２ となるから，２６－２＝２４

３回 目 ： ２４÷３＝８

４回 目 ： ８÷３＝２ ・・・２ となるから，８－２＝６

５回 目 ： ６÷３＝２

６回 目 ： ２÷３＝０ ・・・２ となるから，２－２＝０

したがって，６回 ・・・・・ ・・・（答 え）

（２ ） ５回 の操 作 で０になるためには，４回 目 の操 作 で１か２になっていなければならない

 下のように樹 形 図 を使 ってさかのぼっていく

樹 形 図 を作 るにあたっては，一 定 の規則 があることに気 がつく

 操 作 の結 果 が３の倍 数 であれば，その前 の数 は，その数 の３倍 の数 ，２を加 えた数 ，

 １を加 えた数 の３通 り

操 作 の結 果 が３の倍 数 でなければ，その前 の数 は，その数 の３倍 の数となる


\

|4回目| 3回目|2回目|1回目|はじめの数|
|:---:|:---:|:---:|:---:|:---:|
||||27|28, 29, 81|
|||9|11|33|
||||10|30|
||||||
|1|3||||
|||5|15|16, 17, 45|
|||4|12|13, 14, 36|

\


|4回目| 3回目|2回目|1回目|はじめの数|
|:---:|:---:|:---:|:---:|:---:|
||||54|55, 56, 162|
|||18|20|60|
||||19|57|
||||||
|2|6||||
|||8|24|25, 26, 72|
|||7|21|22, 23, 63|

\

上 の樹 形 図 から，５回 の操 作 で０になる数 の個 数 は，２２個 ・・・(答)

＜Python＞

(1)

この問題のように反復回数が決まっていない場合は`while文`が利用できる

操作回数のカウントを設定

78を変数xに入れ，

xが0より大きい場合に操作を反復させ，0になったら終了

条件は問題文通りに式で表す

3で割り切れるかどうかの2択なので，`if`と`else`で

どちらの条件でもカウント

最後にcountを出力

In [ ]:
#(1) sample

count = 0
x = 78

while x > 0 :
  if x % 3 == 0 :
    x = x / 3
    count += 1
  else :
    x = x - (x % 3)
    count += 1

print(count, '回')

＜Python＞

(2)

はじめに条件にあてはまる数をカウントする`count_n`を設定

反復と条件の部分は(1)と同じ

1~500くらいまでの数で調べることにしてfor文で変数をyとしてすべての数を調べる

本来ならば＜算数解法＞のようにさかのぼるプログラムでないと，

500以上の数で操作が5回ある可能性が残ってしまいますが，難しそうなので…

yが0で操作回数が5になった場合は，count_nをカウント

最後にcount_nを出力

In [ ]:
#(2) sample

count_n = 0

for y in range(1, 500) :
  count = 0
  while count <= 5 :
    if y % 3 == 0 :
      y = y / 3
      count += 1
    else :
      y = y - (y % 3)
      count += 1
      if y == 0 and count == 5:
        count_n += 1
 
print(count_n)

###random関数

ランダムに数をつくる関数があります。

Pythonのrandomモジュールの中にある関数です。

`randint()`は整数を作ります。

`randint(a, b)`は，a以上b以下の範囲でランダムな整数を作ります(返します）。

---
Q?

10歳から30歳までのランダムな年齢を作り，

その年齢が20歳以上であれば「成人です」と表示し，

20歳御南であれば「未成年です」と表示させるプログラムは？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

`randint`関数をインポート

`from random import randint`であれば，randint関数を使うときは，`renadint(10, 30)`

`import random`とすると，randinti関数を使うときは，`random.randiint(10, 30)`と書きます。

randiinti関数で作成された数が20以上か未満かで`if文`で場合分けして，

「成年です」か「未成年です」かを表示させます。

In [ ]:
#sample

from random import randint

age = randint(10, 30)    

if age >= 20:
    print(age, "歳は，成人です")	
else:
    print(age, "歳は，未成年です")

###2つの乱数の比較

---
Q?

1～50の乱数を2つ作り，2つの数を表示して，

大きいほうを「大＞小」と表示し，

同じであれば「等しい」と表示させるプログラムは？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

整数の乱数2つだから，変数`x`と`y`に`randint`でつくる乱数を代入

`print`で2つの数を出力

`if`,`elif`,`else`文で比較し，「大きい」か「小さい」か「等しい」の3つの場合で表示させる

In [ ]:
#sample

from random import randint

x, y = randint(1, 50), randint(1, 50)    #まとめて書くこともできる

print("x =", x, "，", "y ＝", y)

if x > y:
  print(x, ">", y)
elif x < y:
  print(y, ">", x)
else:
  print(f"{x} ＝ {y} だから，等しい")

---
Q?

1~200のランダムな数で，その数が2で割り切れるが3で割り切れない場合，

2で割り切れないが3で割り切れる場合，

2でも3でも割り切れる場合，2でも3でも割り切れない場合で，

それぞれ表示させるプログラムは？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

randintで乱数発生

4つの条件の場合で，問題のように表示させる

In [ ]:
#sample

from random import randint

x = randint(1,200)

if x % 2 == 0 and x % 3 != 0:
  print(x,  "は，2で割り切れるが3で割り切れない")
elif x % 2 != 0 and x % 3 == 0:
  print(x, "は，2で割り切れないが3で割り切れる")
elif x % 2 == 0 and x % 3 == 0:
  print(x, "は，2でも3でも割り切れる")
else:
  print(x, "は，2でも３でも割り切れない")

###random 当たりはずれ

---
Q?

1から5までの数を言ってもらい(inputしてもらい），

その数があたりかハズレかを表示させるプログラムは？

ハズレの場合は正解も表示

正解の数はrandomで乱数発生

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

整数なので`random`モジュールから`randint`を`import`

正解を`answer`変数に入れる

「1から5までの数をあてて下さい」と表示して

「1~5の数字を入れてください」で入力してもらい

inputでは文字で入力されるので`int`に変換を忘れずに

同じだったら「あたりです」，違っていたら「ハズレです。正解は`answer`です」

In [ ]:
#sample

from random import randint

answer = randint(1,5)

print('1から5までの数をあてて下さい')

x = int(input("1～5の数を入力してください :"))

if answer == x:
  print("あたりです")
else:
  print(f"ハズレです。正解は{answer}です")

###random 数字と曜日

---
Q?

ランダムに1~7の整数をつくり，出た数字から，

1＝月曜日Monday，2＝火曜日Tuesday，3＝水曜日Wednesday，４＝木曜日Thursday，

５＝金曜日Friday，6＝土曜日Saturday，7＝日曜日Sunday

と表示させるプログラムは？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

randint関数で1~7の乱数をつくり，つくった数を変数dayに入れる

    day = randint(1, 7)

`randint(1, 7)`の`(   )`の中の数字(**「引数ひきすう」**)は，1も7も入ります(1から7まで）

range()関数では`range(1, 7)`だと1から6までだったことと違うことに注意

あとはif文で1だったら月曜日，2だったら火曜日・・・・とするだけ

In [ ]:
#sample

from random import randint      #ここを import random  としたら

day = randint(1,7)                  #ここは，day = random.randint(1, 7)

if day == 1:
  print(day, "なのでMonday")
elif day == 2:
  print(day, "なのでTuesday") 
elif day == 3:
  print(day, "なのでWednesday") 
elif day == 4:
  print(day, "なのでThursday") 
elif day == 5:
  print(day, "なのでFriday") 
elif day == 6:
  print(day, "なのでSaturday") 
elif day == 7:                         #else:もあり
  print(day, "なのでSunday")

`from random import randint`の部分は，`import random`として

randint関数を使うときは，`random.randint`と書く人が多いみたいです

    ➀　from random import randint
          randint()

    ②　import random
          random.randint()

両方とも同じ意味です

使い分け方としては，randomモジュールの中のrandintだけを使いたいときは①で，

いろいろなプログラムを使いたいときは②の書き方

という感じですが，まｱお好みだと思いますが

###random おみくじ

---
Q?

1~20の乱数をつくり，おみくじで，1，2で大吉，３，４，５で中吉，

６，７，８，９，１０で小吉，１１，１２，１３で末吉，

１４，１５，１６，17で凶，18，19，20で大凶となるプログラムは？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

条件の表し方はありますが，考え方は上と同じです

\
条件文の書き方で，

例えば，中吉が出る場合は，`elif omikuji >= 3 and omikuji <= 5`と

書かずに`elif omikuji <= 5`だけでOKです

`elif`は「上の条件に書かれた条件をみたされない場合だけ計算し，

上の条件が満たされる場合は計算されない」

という意味

2が出た場合，`2 <= 5`ですが「中吉」にならないのは，2は大吉になる条件なので，

上の`if`が計算されて，その下に書かれた`elif`は計算されません

`else`も「17以下以外だったら計算」という意味です

\
「書式化文字列`f`」も使ってみました

In [ ]:
#sample

from random import randint

omikuji = randint(1, 20)

word = 'が出たので，'

if omikuji <= 2:
  print(f'{omikuji} {word} 大吉')

elif omikuji <= 5 :
  print(f'{omikuji} {word} 中吉')

elif omikuji <= 10:
  print(f'{omikuji} {word} 小吉')

elif omikuji <= 13:
  print(f'{omikuji} {word} 末吉')

elif omikuji <= 17:
  print(f'{omikuji} {word} 凶')
  
else:
  print(f'{omikuji} {word} 大凶')

15 が出たので， 凶

###random 当たりはずれ　ヒントあり

---
Q?

1から10までの数を言ってもらい(inputしてもらい），

その数があたりかハズレかを表示させるプログラムは？

\
正解の数はrandomで1回だけ乱数発生

ハズレの場合は正解より大きいか小さいかを言ってあげて，

正解するまで数を入れてもらい，繰り返す

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

整数なので`random`モジュールから`randint`を`import`

正解を`answer`変数に入れる

「1~10の数をあててください」と表示し

「数を入れてください」で`input`してもらい，(これもwhile文の中）

\
繰り返しの回数が決まったいないので`while True:`文で，反復計算処理

同じだったら「あたりです」，違っていたら「もっと小さい数です」か

「もっと大きい数です」と表示し，

while文の最初に戻り，「数を入れて下さい」と表示

\
条件は，「あたり」，「もっと小さい」，「もっと大きい」の3つの場合だから，

`if`，`elif`，`else`

これの繰り返し

In [ ]:
#sample

from random import randint

answer = randint(1,10)

print("1から10までの数をあてて下さい")

while True :
  x = int(input("1から10までの数を入れて下さい : "))
  if answer == x :
    print("あたりです，おめでとう")
    break
  elif answer < x :
    print("もっと小さいです！")
  else :
    print("もっと大きいです！")

###約数　完全数

---

自分自身を除く約数の和がその数自身と等しくなる数を完全数といいます。

\
6の約数は，1, 2, 3, 6で，1 + 2 + 3 = 6となるので，6は完全数です。

\
完全数を小さいほうから4つ表示させるプログラムは？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

2から順に探していくので，はじめに完全数の候補`n`を2に設定します。

```
n = 2
count = 0
```

見つかった完全数の数を数える`count`変数を0に設定し，3になるまで作業を繰り返す。

いくつまでの整数を調べればよいかわからないのでwhile文で繰り返し処理を作ります。

はじめに，約数の和の`m`を0に設定。

```
while count < 4 :
  m = 0
```

`for文`を使って，整数がnの場合，約数を1から(n - 1)まで取り出して，

nを割り切れればその約数を`m`にたす。
```
 for i in range(1,n):
         if n % i == 0:
             m += i
```
ここで`while ループ`に戻り，n = mとなれば，nを出力し，

nの個数をカウントし，次のnにすすむ。
```
if n == m:
  print(n)
  count += 1
n += 1
```

In [ ]:
#sample

n = 2
count = 0
while count < 4:
    m = 0
    for i in range(1,n):
        if n % i == 0:
            m += i
    if n == m:
        print(n)
        count += 1
    n += 1

###濃度　＜Python/sympyで解く＞

---
Q?

5%の食塩水500gと6%の食塩水400gに

それぞれ同じ量の水を加えたら濃度が等しくなりました。

加えた水は何g？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜Python/sympyで解く＞

逆算のところで利用した`sympy module`の`var()`関数と`solve()`関数を

ここでも利用します。

この2つの関数は，いろいろな文章題を解くのに役に立ちます。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

問題文を文字式で表してsympyで解答

sympyからvar()とsolve()のインポート
```
from sympy import var, solve
```
加える水の量をxグラムとするのでxを文字として登録
```
var("x")
```
(濃度)＝(食塩の重さ)÷(食塩水の重さ)

5%の食塩水の食塩の重さ＝500 × 0.05 ＝ 25，

6%の食塩水の食塩の重さ＝600 × 0.06 ＝ 24

食塩水の重さは，500＋xと400＋xだから，

濃度が等しいことを表す式は

500 * 0.05 / (500 + x) = 600 * 0.06 / (400 + x)

\
solveで解くために(左辺) = 0 の式のかたちにすると，

500 * 0.05 / (500 + x) - 600 * 0.06 / (400 + x) = 0

左辺の式をEに入れる
```
E = 500 * 0.05 / (500 + x) - 400 * 0.06 / (400 + x) 
```
この式をsolve()で解いて，答えをanswerに入れる
```
answer = solve(E)
```
変数が1つの場合は，answerはリスト型になっていて，

xは1番目の要素で，小数(浮動小数点)になっているなので，printで答えを出力するには

answer[0]として，それを整数にするためにint()に入れる
```
print(int(answer[0]), 'g')
```

In [ ]:
#sample

from sympy import var, solve

var("x")

E = 500 * 0.05 / (500 + x) - 400 * 0.06 / (400 + x) 

answer = solve(E)

print(int(answer[0]), 'g')

###比と割合

---
Q?

熊さん(bear)は持っていたお金(money)の$\dfrac{1}{3}$よりも200円少ない金額で本(book)を買い(buy)，

次に1000円で文房具(stationery)を買いました。

残ったお金は最初の金額の$\dfrac{2}{5}$でした。

bearが最初に持っていた金額は？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜Python/sympyで解く＞

問題文を文字式で表してsympyで解答

sympyからvar()とsolve()のインポート
```
from sympy import var, solve
```
熊さんが最初に持っていた金額をb円とし，bを文字として登録

```
var("b")
```

(本の値段)＝b * 1/3 - 200

(使った金額の合計) = (本の値段) + (文房具の値段) =  b * 1/3 - 200 + 1000 

使った金額の合計は，最初の金額の1 - 2/5 = 3/5だからそれを式で表すと，b * 3/5

b * 1/3 - 200 + 1000 と b * 3/5 は等しい

これを式で表すと，b * 1/3 - 200 + 1000 = b * 3/5

sympyで解くために(左辺) = 0 の式のかたちにする

b * 1/3 - 200 + 1000 - b * 3/5 = 0

左辺の式をEに入れる
```
E = b * 1/3 - 200 + 1000 - b * 3/5
```
この式をsolve()で解いて答をanswerに入れる
```
answer = solve(E)
```
変数が1つの場合は，answerはリスト型になっていて，

bは1番目の要素で，小数(浮動小数点)になっているなので，printで答えを出力するには

answer[0]として，それを整数にするためにint()に入れる

```
print(int(answer[0]), '円')
```

In [ ]:
#sample

from sympy import var, solve

var("b")

E = b * 1/3 - 200 + 1000 - b * 3/5

answer = solve(E)

print(int(answer[0]), '円')

###和と差　つるかめ

---
Q?

あるお店で，1個600円のサンドイッチと1個750円の弁当をあわせて17個売ったところ，

このお店の売り上げは11400円でした。サンドイッチは何個売れた？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

つるかめ算で，(750 × 17－11400) ÷ (750 － 600) ＝ 9個・・・(答)

\
＜Python＞

サンドイッチと弁当をそれぞれ1~17個の場合で変数s個，b個に代入し，全部数え上げ，

問題の条件を式で表し，あてはまるs,bがある場合，sを出力

In [ ]:
#sample

for s in range(1,18):
  for b in range(1,18):
    if s + b == 17 and 600 * s + 750 * b == 11400:
      print(s,'個')

＜Python別解＞

**`！！sympyのsolve関数の使い方は覚えておきましょう！！`**

この問題は，中学で学ぶ連立一次方程式で，

Pythonには方程式(equationイクエイション）を解くための

プログラムがあるので，すでに「逆算」のところで利用したsympyモジュールを利用します。

\
サンドイッチと弁当の個数をそれぞれs個，b個として問題の条件を式で表すと，

`s + b = 17`  (ここの`＝`は等号(equalイコール))

`600 × s + 750 × b = 11400`

2つの式を`(左辺)＝0`の形にすると，

➀：`s + b ー 17 = 0`

②：`600 × s + 750 × b ― 11400 ＝ 0`

となるので，①の(左辺)を，`E1 `    (`E1`は変数なので，名前は自分で決められる）

②の(左辺)を，`E2 = 600 × s + 750 × b ― 11400`  とする

(左辺)というのは「＝の左側」という意味

\
このE1,E2をsympyモジュールの`solve`(ソルブ＝「(問題を)解く」という意味の英語）

という関数に入れると，sとbを求めてくれます。

\
具体的なコードは，まず，`sympy`モジュールからs,bは変数だと決める

`var`関数と`solve`関数を`import`

    from sympy import var, solve

sとbは変数ですとする

    var('s, b')      #これは，s, b = var('s, b')  と書いても同じ

2つの条件の式を`E1`,`E2`に入れ（E1,E2は`var`しなくていい)

    E1 = s + b ー 17
    E2 = 600 * s + 750 * b ― 11400

この2つの式を`solve`関数に入れて，計算した答えを`answer`(アンサー答）に入れる。

\
上の式をそのままsolveに入れても同じだが，見にくくなるので，`E1``E2`を使いましょう

この書き方は，今は「こう書くんだ」とだけ覚えておけばOK

    answer = solve([E1, E2], [s, b])

最後にanswerを出力すると，

    {s:9, b:8}

と表示され，サンドイッチだけ表示したいときは

    print('サンドイッチは', answer[s], '個')

とする

`answer`は実は「辞書」の型になっていて，`answer[s]`とキーを指定すると，

ｓとペアになっている9が表示されます。

In [ ]:
#sympyプログラムを使った場合

from sympy import var, solve

var('s, b')

E1 = s + b - 17
E2 = 600 * s + 750 * b - 11400

answer = solve([E1, E2], [s, b])

print(answer)

print('サンドイッチは', answer[s], '個')

###消去算

---
Q?

Aは500円持って，ノートと手帳を3冊ずつ買おうとしましたが，10円足りなかったので，

手帳を2冊と，ノートを4冊にしたら，40円のおつりをもらえました

手帳とノートはそれぞれいくら？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

消去算でとく

ノート(note)1冊＝n円，手帳(pocket book)1冊＝p円として問題文を式で表す

前半の条件から

n × 3 + p × 3 = 500 + 10  ・・・➀

後半の条件から

n × 4 + p × 2 = 500 ー 40  ・・・②

② × 3 － ① × 2より

12 × n － 6 × n ＝ 1380 － 1020

6 × n ＝ 360　より，n＝60円　これを①に代入して。p＝110円

ノート60円，手帳110円・・・(答)


\
＜Python/sympy＞

算数解法は「消去算」といわれていますが，これは中学で学ぶ「連立方程式」の解法と同じ

sympyで解く解法は方程式の解法なので，消去算の解法と同じです

\
手順は以下の通り

sympyから`var`と`solve`を`import`

    from sympy import var, solve

算数解法と同じで，`n`と`p`を`var( )`で変数として登録

(nとpの文字を変数として使うことを宣言）

    var('n, p')

`'   '`をつけることを忘れないように

上の➀，②の式を(左辺)＝0の形にしてPythonで書いて，

(左辺）を`E`(equationイクエイション方程式の頭文字）に代入

式が2つなので，`E1`と`E2`にそれぞれ代入

    E1 = n * 3 + p * 3 - 510 
    E2 = n * 4 + p * 2 - 460

「`E1`と`E2`を`solve`に入れて，`n`と`p`を求める」ときは，

    solve([E1, E2], [n, p])

と書くと覚えて下さい

その答えを，`answer`という変数に入れる

    answer = solve([E1, E2], [n, p])

`answer`を`print(answer)`で出力すると，


    {n:60, p:110}

と「辞書型」で表示されます

これでもいいんですが，普通の答えとして出力したときは，

    print(answer[n], answer[p])

とします

In [ ]:
#sample

from sympy import var, solve

var('n, p')

E1 = n * 3 + p * 3 - 510 
E2 = n * 4 + p * 2 - 460

answer = solve([E1, E2], [n, p])

print("ノートは", answer[n], "円，手帳は", answer[p], "円")

###年齢

---
Q?

6年前は，父と母と兄の年齢の和が，私の年齢の13倍でした。

今は，3人の年齢の和が，私の年齢の7倍です。

6年前の私の年齢は？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

既に解いた問題なので，ここでは

＜sympyによる解法＞

sympyからvarとsolveをimport(インポート)

6年前の私(`i`)の年齢iと，3人の年齢の和`s`(sumの頭文字）を

`var()`で変数とするとことわりを入れる(宣言する）

\
(左辺)＝0となるように条件の式を変形することがポイント

\
6年前について，s = i * 13 より，i * 13 - s = 0と式を変形し，左辺を`E1`に代入

\
今について，(i + 6) * 7 = s + 3 * 6 より，s + 3 * 6 - (i + 6) * 7 = 0とし，左辺を`E2`に代入

\
E1,E2をsympyのなかのsolveプログラムでi,sを求める

\
`answer`は`{i:4, s:52}`と辞書型になるので，`answer[i]`として，キーをして値を取り出す

In [ ]:
#sample

from sympy import var, solve

var("i,s")

E1 = i * 13 - s
E2 = s + 3 * 6 - (i + 6) * 7

answer = solve([E1, E2],[i, s])

print(answer)

print(answer[i], '歳')       #answerの中身は{i:4, s:52}となるので，私の年齢iだけ取り出して出力

###損益

---
Q?

原価の3割の利益を見込んで定価をつけた品物を定価の1割引きで売ったところ

255円の利益がありました。

定価はいくら？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜sympyによる解法＞

sympyから，varとsolveをimport(インポート)

\
原価`c`(Cost)を`var()`で変数とするとことわりを入れる(宣言する）

定価は原価の3割の利益を見込むから，`c * (1 + 0.3)`で，定価の1割引きは，`c * (1 + 0.3) * (1 - 0.1)

売値－原価＝利益だから，`c * (1 + 0.3) * (1 - 0.1) - c = 255`より，

`c * (1 + 0.3) * (1 - 0.1) - c - 255 = 0`と変形し，左辺を変数`E`に代入

`E`をsympyのなかの`solve`プログラムで`c`を求めて，cは原価で，求めるのは定価だから，

定価 = c * 1.3を出力

前の問題と違うのは，この問題では，`var`で定めた変数はcだけで，

その場合は，solveで解いた答は辞書ではなくリストになっているので，

`c[0]`と書いて，リストCの1番目(表示は[0])の要素を取り出す

\
なお，cの型は`float=小数(浮動小数点数）`になっているので，`int=整数`に直して出力

In [ ]:
#sample

from sympy import var, solve

var("c")

E = c * (1+0.3) * (1 - 0.1) - c - 255

c = solve(E)

#print(c[0]*1.3,'円')        

print(int(c[0]*1.3),'円')

###和と差　平均点

---
Q?

35人のクラスで英語のテストを行ったところ，全体の平均点は60点

得点上位10人の平均点と，残り25人の平均点は14点の差がありました

得点上位10人の平均点は？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

この問題をsympyを利用して解く

\
sympyからvar,solveをimport

    from sympy import var, solve

得点上位10人の平均点を`x`を`var()`で変数宣言（変数として登録するみたいなこと）

    var('x')

問題文から合計点を計算すると，

10人の平均点はxで，25人の平均点はxより14点低く，その和は全体の合計点

また，35人全体の平均点が60点だから合計点は，60 × 35

両方とも合計点は等しくなるから

`10 × x + 25 × (x - 14) = 60 × 35`

sympyで解くために(左辺) = 0 の式のかたちにして，

それを`E`(これも変数だから自分で決める）に入れる

    E = 10 * x + 25 * (x - 14) - 2100

`E`を`solve`に入れて`x`を求めて`answer`に入れる

    answer = solve(E)

上の問題と同じで，`answer`はリスト型になっていて，それを`print`で出力すると

    [70]

となる

これでもいいんですが，普通に整数で表示するために，70はリストの1番目＝0番目なので，

    print(answer[0])

とすると，`70`と表示される

In [ ]:
#sample

from sympy import var, solve

var('x')

E = 10 * x + 25 * (x - 14) - 2100

answer = solve(E)

print(answer[0], '点')

###和と差　階段でじゃんけん

---
Q?

長い階段の途中の同じ場所からイチゴ(strawberryストロベリー）とチョコレート(chocolate)の2人

がじゃんけん遊びをしました。

勝った人は3段上り，負けた人は1段降りることにして50回じゃんけんをしたところ，

イチゴはチョコより48段上にいました。

引き分けは回数に入れないとすると，イチゴははじめの場所より何段上または下にいますか？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

1回のじゃんけんで3＋1＝4段の差ができる。

50回全部イチゴが勝った場合は，イチゴはチョコより(3＋1)×50＝200段上にいる。

実際は48段なので，その差は200－48＝152段。

イチゴが1回勝つのではなく逆に負ける場合は，

4段上ではなく4段下になるから合計8段違うことになる。

152段÷8段＝19回だけイチゴは負けたことが分かる。

イチゴは50－19＝31回勝ち，19回負けたから，

3×31－1×19＝74段上・・・(答)

\
＜Python/sympy＞

イチゴがx回，チョコがy回勝ったとして条件を式で表すと

2人が勝った回数の合計は50回になるから

x ∔ y ＝ 50  →   x + y － 50 = 0  この式の(左辺）を`E1`に入れる

イチゴが上がった段数は，x × 3 - y × 1　で，チョコが上がった段数は，y × 3 - x × 1

その差が48段だから，(x × 3 - y × 1) - (y × 3 - x × 1) = 48

(x × 3 - y × 1) - (y × 3 - x × 1) - 48 = 0 だから，この式の(左辺)を`E2`に入れる

`E1`と`E2`を`solve`にいれて，`x`を`y`求めて，答えを`answer`に代入

その場合のコードは

    answer = solve([E1, E2], [x ,y])

求めるのは，イチゴが何段上にいるかだから，イチゴの段数を`s_step`として

辞書型変数answerで，`[x]`と`[y]`のキーでペアの数を指定して表示

チョコがy回勝っているので，イチゴはy回負けているから

計算式，`3 * answer[x] - 1 * answer[y]`を入れる

最後に`s_step`を出力

In [ ]:
#sample

from sympy import var, solve

var("x y")     #var("x, y")とカンマ有りでもいい

E1 = x + y - 50
E2 = (x * 3 - y * 1) - (y * 3 - x * 1) - 48

answer = solve([E1, E2],[x, y])

s_step = 3 * answer[x] - 1 * answer[y]

print(s_step, '段上にいる')

#s_stepに代入せずに，print(3 * answer[x] - 1 * answer[y], '段上にいる')でもOK

###仕事算

---
Q?

10人でやると30分で終わる予定の仕事を，実際には2人が少し遅れて作業に参加したため，

はじめのうちは8人で作業し，全部で32分かかりました。

1分間でできる仕事の量は10人全員が同じとすると，遅れてきた2人が作業をした時間は何分間？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

1人の1分間の仕事量を1とすると，この仕事全部の仕事量は1×10×30＝300

8人の32分間の仕事量は1×8×32＝256で，300－256＝44は2人がした仕事量

44÷2＝22分間・・・(答)


\
＜Python＞

2人の作業時間は多くて32分だから，0~32の時間を順番に変数`x`に入れて

全部の場合を数え上げ，条件にあてはまるxがある場合は出力する

In [ ]:
#sample

for x in range(33) :
  if 8 * 32 + 2 * x == 10 * 30 :
    print(x, '分間')
    break

＜Python/sympy＞

sympyからvarとsolveをimport

2人の仕事時間`x`を`var()`で変数とするとことわりを入れる(宣言する）

条件を式で表すと

`8 * 32 + 2 * x = 10 * 30` より，`8 * 32 + 2 * x - 300 = 0`とし，左辺を`E`に

`E`をsympyのなかの`solve`プログラムで`x`を求める

そのままだとリスト表示になるので，はずすには，

変数`a`にリスト`answer`の1番目の要素を入れてから出力

または，`print(answer[0])`

In [ ]:
#smple

from sympy import var, solve

var("x")

E = 8 * 32 + 2 * x - 300

answer = solve(E)

print(answer, '分間')

a = answer[0]               #answerにリストで入っているので取り出してint変数に入れて
                                   #表示すると[  ]が取れる
print(a, '分間')

---
Q?

プリン(puddingプディング）が50日で仕上げる仕事を，クッキー(cookieクッキｲ）は75日かかります。

この仕事を，2人がいっしょに始めましたが，途中でクッキーが何日か休んだので，

仕上がるまでに40日かかりました。

クッキーは何日休んだ？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

この仕事量を150とすると，プリン，クッキーの1日の仕事量は3，2

プリンは休まずに40日働いたので3×40＝120で，残りの150-120=30はクッキーがやった量で，30÷2＝15日

よって，クッキーが休んだ日数は，は40－15＝25日・・・(答)

\
＜Python＞

1～40の日数を変数`c`で取り出して

条件にあうcがある場合は，`40 -c`を出力

In [ ]:
#sample

for c in range(41):
  if 3 * 40 + 2 * c == 150 :
    print(40 - c, '日')

＜Python/sympy＞

sympyを使う場合の手順も今までの問題と同じ

In [ ]:
#sample

from sympy import var, solve

var('c')

E = 3 * 40 + 2 * c - 150 

answer = solve(E)
a = answer[0]

print(40 - a, '日')

###仕事算

###float

---
Q?

Ａ，Ｂ2人がある仕事をします。Ａ，Ｂがいっしょにこの仕事をすると５時間かかります。

先にAが１人でこの仕事を4時間して，その後Ｂが１人で残りの仕事をするとさらに７時間かかります。

それぞれ１人でこの仕事をすると何時間かかりますか。

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞



(答）A:7.5時間　B:15時間

ＡとＢの１時間あたりの仕事量をアルファベットをそのまま使って，

それぞれＡ，Ｂとして全体の仕事量を式で表す。

(A + B) × 5 ＝ A × 5 ＋ B × 5…①

さらにA × 4 ＋ B × 7…②

➀＝②より，A：B＝2：1

全体は(2 + 1) × 5 ＝ 15で，

Ａは，15 ÷ 2 ＝ 7.5時間・・・(答)

Ｂは，15 ÷ 1 ＝ 15時間 ・・・(答)


\
＜Python＞

sympyを使った方法でも全体の仕事量を1とする

sympyからvarとsolveをimport

2人のそれぞれの1時間あたりの仕事量を`var('A, B')`で変数宣言

条件を式で表して，例の方法で`E1`，`E2`に代入

    E1 = A * 5 + B * 5 - 1
    E2 = A * 4 + B * 7 - 1

これも例の方法で，`solve`で`A`,`B`を求めて`answer`に入れる

それぞれのかかる時間の変数に，全体1をA，Bで割った答えを入れる

In [ ]:
#sample

from sympy import var, solve

var('A, B')

E1 = A * 5 + B * 5 - 1 

E2 = A * 4 + B * 7 - 1

answer = solve([E1, E2], [A, B])

A_time = 1 / answer[A]

B_time = 1 / answer[B]

#print('Aは', A_time, '時間')

print('Aは', float(A_time), '時間')   #A_timeを小数で出力したいとき

#print('Bは', B_time, '時間')

print('Bは',float(B_time), '時間')

###倍数算

---
Q?

AとBは8:5の割合でおこづかいをもらいました。

その後，2人は8:3の割合でそれぞれのおこづかいを使ったところ，

Aは400円，Bは450円残りました。

Bのはじめのおこづかいはいくら？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

AとBの使った金額をそれぞれ⑧円，③円として，2人のはじめのおこづかいを式で表す

(⑧ + 400) : (③ ＋ 450)＝8 : 5ということだから，この比例式を解いて，

＜内項の積＞＝(外項の積＞

(③ ＋ 450) × 8 ＝ (⑧ ＋ 400) × 5

③ × 8 + 450 × 8 ＝ ⑧ × 5 ＋ 400 × 5

➀ × 24 ＋ 3600 ＝ ① × 40 ＋ 2000

➀ × 16 ＝ 1600より，① ＝ 100

Bのはじめのおこづかいは，③ ＋ 450 ＝ 750円・・・(答)


\
＜Python＞

for文で解く場合

はじめのおこづかいの比がA:B=8:5だから，Aは80円から5000円くらいまでとして，80円きざみ

Bは50円から5000円くらいまでとして，50円きざみとする

    for a in range(80, 5000, 80) :
      for b in range(50, 5000, 50) :

あとは条件を問題文の通り

In [ ]:
#sample

for a in range(80, 5000, 80) :
  for b in range(50, 5000, 50) :
    if a * 5 == b * 8 and (a - 400) / 8 == (b - 450) / 3:
      print(b, '円')

＜Python/sympy＞

はじめのAのおこづかいをa円，Bのおこづかいをb円

はじめの金額a:b=8:5より，`a * 5 - b * 8 = 0`とし，左辺を`E1`

使った金額の比は(a-400):(b-450)=8:3より，`(a - 400) * 3 - (b - 450) * 8 = 0`とし，左辺を`E2`

`E1`,`E2`をsympyのなかのsolveプログラムで`a`,`b`を求める

In [ ]:
#sample

from sympy import var, solve

var("a,b")

E1 = a * 5 - b * 8
E2 = (a - 400) * 3 - (b - 450) * 8

answer = solve([E1,E2],[a,b])

print(answer)

print('Bは', answer[b], '円・・・(答)')

---
Q?

あるクラスの1学期の女子生徒の数はクラスの人数の$\dfrac{3}{5}$に8人足りませんでした。

2学期から男子が2人，女子が2人転校してきて

女子生徒の数はクラスの人数の$\dfrac{3}{7}$になりました。

クラスの人数は何人になりましたか？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

はじめのクラスの人数を⑤人とすると，女子生徒は(③-8)人

2学期のクラスの生徒数は(⑤ + 2 + 2)人で，女子生徒は(③ － 8 ＋ 2)人で，

クラスの人数：女子の人数＝7: 3だから，

(⑤ ＋ 4) : (③ - 6) = 7 : 3 

この比例式を解いて,➀ ＝ 9　

⑤ ＋ 4 ＝ 9 × 5 ＋ 4 ＝ 49人・・・(答)


\
＜Python＞

コードセル内に解説

In [ ]:
#for文で解く場合
#クラス(class)の人数を100人くらいまで，女子(girl)の人数を50人くらいまでで調べる
#あとは条件を問題文の通りとする

for c in range(1,100):
  for g in range(1,50):
    if g == c * 3/5 - 8 and g + 2 == (c + 4) * 3/7 :
      print(c + 4, '人')

synpyを利用する場合もコードセル内に解説

In [ ]:
#sympyを使う場合，sympyからvarとsolveをimport(インポート)
#1学期の人数c(クラスclassの人数）と，g(女子girlの人数）をvar()で変数とするとことわりを入れる(宣言する）
#g = c * 3/5 - 8 より，c * 3/5 - 8 - g = 0とし，左辺をE1
#2学期について，g + 2 =  (c + 4) * 3/7より，(c + 4) * 3/7 - g - 2 = 0とし，左辺をE2
#E1,E2をsolveプログラムでc,gを求める

from sympy import var, solve

var("c,g")

E1 = c * 3/5 - 8 - g
E2 = (c + 4) * 3/7 - g - 2

answer = solve([E1, E2],[c, g])

print(answer)

c = answer[c]         #answerの中身は{c:45, g:19}となるので，クラスの人数のcだけ取り出して，改めて変数cに入れる

print(c + 4, '人')       #2学期はcより4人増えているのでc+4を表示させる

###相当算

---
Q?

A,B,Cの3人でジュースを分けました。Aは全体の$\dfrac{1}{3}$をもらい，

Bはその残りの$\dfrac{3}{8}$と$50mL$をもらいました。

CはBがもらった残りの$\dfrac{7}{9}$とをもらうと，$100mL$残りました。

はじめのジュースは何mLありましたか？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

$100mL$がCがもらった残りの$1-\dfrac{7}{9}=\dfrac{2}{9}$だから，

Cがもらう前は，$100÷\dfrac{2}{9}=450mL$

$450mL+50mL=500mL$がBがもらう前のジュースの量の$1-\dfrac{3}{8}=\dfrac{5}{8}$だから，

Bがもらう前は，$500÷\dfrac{5}{8}=800mL$

これがAがもらった残りだから，はじめの量は，$800÷\dfrac{2}{3}=1200mL$・・・(答)


\
＜Python＞

for文でsampleのようなコードで正解できますが，非常に時間がかかります

時間がかかるコードは効率が悪いので使わないように

sympyのコードにすると時間がかからなくなる

In [ ]:
#全体＝z mL, A＝a mL，B=b mL，C=c mL
#aは全体の1/3だから，z = a * 3
#a, b, cはそれぞれ1000mLくらいまでとして計算
#非常に時間がかかる

for a in range(1, 1000) :
  for b in range(1, 1000) :
    for c in range(1, 1000) :
      z = a * 3
      if z == a + b + c + 100 and b == (z - a) * 3/8 + 50 and c == (z - a - b) * 7/9 :
        print(z, 'ｍL')

In [ ]:
#sympyを使うコードsample
#z,a,b,cをvar()で変数とするとことわりを入れる(宣言する）
#全体＝z mL，A＝a mL，B=b mL，C=c mLとして問題文を式で表す
#z = a + b + c + 100より，z - a - b - c - 100 = 0とし，左辺をE1
#a = z * 1/3より，z * 1/3 - a = 0とし，左辺をE2
#b = (z - a) * 3/8 + 50より，(z - a) * 3/8 + 50 - b = 0とし，左辺をE3
#c = (z - a - b) * 7/9より，(z - a -b) * 7/9 - c = 0とし，左辺をE4
#E1,E2,E3,E4をsympyのなかのsolveプログラムでz,a,b,cを求める
#answerは辞書型になっているので，求める全体の量のキーのzを指定して，値(バリュー)を出力

from sympy import var, solve

var("z,a,b,c")

E1 = z - a - b - c - 100
E2 = z * 1/3 - a
E3 = (z - a) * 3/8 + 50 - b
E4 = (z - a - b) * 7/9 - c

answer = solve([E1,E2,E3,E4],[z,a,b,c])

print(answer)

print(answer[z], 'mL')

---
Q?

A, B, C, Dの4人でおはじきを分けました。

Aは全体の$\dfrac{1}{3}$と15個をとり，

Bはその残りの$\dfrac{2}{7}$と5個をとり，

CはBのとった残りの$\dfrac{1}{2}$と5個をとりました。

Dの取り分として35個残りました。

A, B, Cはそれぞれ何個とりましたか？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

Ｄの35個＋5個＝40個がCがとった後の残りの$\dfrac{1}{2}$だから，

Cの取り分は，$40÷(1-\dfrac{1}{2})=80$より，80－35＝45個・・・(答)

同様にＢ，Ａを求めると，B＝39個，A＝82個・・・(答)


\
＜Python＞

全体＝z個，A＝a個，B=b個，C=c個，d=35個

ただし，問題文から，`z = (a -15) * 3`とわかるので，これを利用

あとは＜算数解法＞と同じで，問題文を式で表してif文とする

In [ ]:
#sample

d = 35

for a in range(1, 100) :
  for b in range(1, 100) :
    for c in range(1, 100) :
      z = (a - 15) * 3
      if z == a + b + c + d and b == (z - a) * 2/7 + 5 and c == (z - a - b) * 1/2 + 5 :
        print('A:',a,'個  ','B:',b,'個  ','C:',c,'個')

＜Python/sympy＞

In [ ]:
#sample
#a,b,cをvar()で変数とするとことわりを入れる(宣言する）
#全体＝z個，A＝a個，B=b個，C=c個，d=35個として問題文を式で表す
#z = a + b + c + 35より，z - a - b - c - 35 = 0とし，左辺をE1
#a = z * 1/3 + 15より，z * 1/3 + 15 - a = 0とし，左辺をE2
#b = (z - a) * 2/7 + 5より，(z - a) * 2/7 + 5 - b = 0とし，左辺をE3
#c = (z - a - b) * 1/2 + 5より，(z - a -b) * 1/2 + 5 - c = 0とし，左辺をE4
#E1,E2,E3,E4をsympyのなかのsolveプログラムでz,a,b,cを求める

from sympy import var, solve

var("z,a,b,c")

E1 = z - a - b - c - 35
E2 = z * 1/3 + 15 - a
E3 = (z - a) * 2/7 + 5 - b
E4 = (z - a - b) * 1/2 + 5 - c

answer = solve([E1,E2,E3,E4],[z,a,b,c])

print(answer)

print('Aは', answer[a], '個，', 'Bは', answer[b], '個，', 'Cは', answer[c], '個')

---
Q?

ある会社の男子の社員は全体の$\dfrac{2}{5}$より42人多く，女子の社員は全体の$\dfrac{2}{3}$より82人少ないです。

この会社の女子の社員の人数は？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

全体1＝男子＋女子＝$\dfrac{2}{5}+42＋\dfrac{2}{3}－82=\dfrac{16}{15}－40$より，

$\dfrac{1}{15}=40$　したがって，1＝600人

女子＝$600×\dfrac{2}{3}－82＝318人$・・・(答)

\
＜Python＞

全体 ＝ z個，男子(man) ＝ m人，女子(lady) = l人

zは1000人くらい，mとlは500人くらいまでとして計算すると，

for文では非常に時間がかかりす。

for文でループが多くなり，調べ上げる数の範囲が多くなると，

かなり時間がかかってくることがわかります。

In [ ]:
#sample

for z in range(1, 1000) :
  for m in range(1, 500) :
    for l in range(1, 500) :
      if z == m + l and m == z * 2/5 + 42 \
        and l == z * 2/3 - 82 :
          print(l, '人')

問題文から，男子＝全体 × 2/5 + 42より，z＝(m - 42) × 5/2となることを利用

In [ ]:
#ample

for m in range(1, 500) :
  for l in range(1, 500) :
    z = (m - 42) * 5/2
    if z == m + l and m == z * 2/5 + 42 \
      and l == z * 2/3 - 82 :
        print(l, '人')

＜Python/sympy＞

forループがなく，逆算の必要もなく，問題文の条件をそのまま式で表すだけなので

慣れてくれば，こちらの方がラクで時間もかからない

In [ ]:
#sympyを使ったsample
#z,m,lをvar()で変数とするとことわりを入れる(宣言する）
#全体＝z人，男子＝m人，女子=l人として問題文を式で表す
#z = m ＋ lより，z - m - l = 0とし，左辺をE1
#m = z *2/5 + 42より，z * 2/5 + 42 - m = 0とし，左辺をE2
#l = z * 2/3 - 82より，z * 2/3 - 82 - l = 0とし，左辺をE3
#E1,E2,E3をsympyのなかのsolveプログラムでz,m,lを求める

from sympy import var, solve

var("z m l")

E1 = z - m - l
E2 = z * 2/5 + 42 - m
E3 = z * 2/3 - 82 -l

answer = solve([E1,E2,E3],[z,m,l])

print(answer)

print('男子は', answer[m], '人，', '女子は', answer[l], '人・・・(答)', '全体は', answer[z], '人')

---
####sympyに関するColabノートは→[こちら](https://colab.research.google.com/github/kalz2q/mycolabnotebooks/blob/master/math_sympy_short.ipynb)

---
---
#Supplement(サプルメント・補足)

---
## Colabで英語練習

###[Qiita google colab で googletrans](https://qiita.com/dauuricus/items/917f37aab0afac0e9171)

In [ ]:
#下のセルを実行　!pip install googletrans

In [ ]:
pip install googletrans==4.0.0-rc1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting googletrans==4.0.0-rc1
  Downloading googletrans-4.0.0rc1.tar.gz (20 kB)
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 1.9 MB/s
Collecting hstspreload
  Downloading hstspreload-2021.12.1-py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 8.4 MB/s
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 617 kB/s
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.4)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2.10)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2022.5.18.1)
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 3.6 MB/s
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 2.2 MB/s
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-4.0.0rc1-py3-none-any.whl size=17416 sha256=27740ece85c2a24b5c27e70f63f7425f15707eba3e1e24df68d785ffee1a741e
  Stored in directory: /root/.cache/pip/wheels/43/34/00/4fe71786ea6d12314b29037620c36d857e5d104ac2748bf82a
Successfully built googletrans
Installing collected packages: hyperframe, hpack, sniffio, h2, h11, rfc3986, httpcore, hstspreload, httpx, googletrans
Successfully installed googletrans-4.0.0rc1 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2021.12.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.2.0

In [ ]:
from googletrans import Translator
translator = Translator()

trans_en = translator.translate('明後日')
print(trans_en.text)

day after tomorrow

In [ ]:
from googletrans import Translator
translator = Translator()

trans_en = translator.translate('コンピュータは小数点の計算が苦手?')


print(trans_en.text)

Are you not good at calculating decimal points for computers?

---
###発音や聞き取り練習に

####英語の発音を聞いてみる

[YouGlish](https://youglish.com/pronounce/laboratory/english?)

下のpip install gTTSを▶してからその下のコードを▶して，"Enter your text"が出たら発音を聞きたい英語・英文・英文章などインプット・貼り付けしてEnter

In [ ]:
pip install gTTS

Collecting gTTS
  Downloading https://files.pythonhosted.org/packages/5f/b9/94e59337107be134b21ce395a29fc0715b707b560108d6797de2d93e1178/gTTS-2.2.2-py3-none-any.whl
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from gTTS) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gTTS) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gTTS) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gTTS) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gTTS) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gTTS) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gTTS) (1.24.3)
Installing collected packages: gTTS
Successfully installed gTTS-2.2.2

In [ ]:
from gtts import gTTS
from IPython.display import Audio

text = input("Enter your text: ")
tts = gTTS(text)
tts.save("user_input.mp3")

sound_file = 'user_input.mp3'
Audio(sound_file, autoplay=True)

Enter your text: 1.The United States and the DPRK commit to establish new U.S.-DPRK relations in accordance with the desire of the peoples of the two countries for peace and prosperity.  2.The United States and the DPRK will join their efforts to build a lasting and stable peace regime on the Korean Peninsula.

###音声変換

[Google Colaboratoryで遊ぶ準備](https://blog.negativemind.com/2020/07/25/google-colaboratory/)

In [ ]:
!pip install gTTS

Collecting gTTS
  Downloading https://files.pythonhosted.org/packages/5f/b9/94e59337107be134b21ce395a29fc0715b707b560108d6797de2d93e1178/gTTS-2.2.2-py3-none-any.whl
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from gTTS) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gTTS) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gTTS) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gTTS) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gTTS) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gTTS) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gTTS) (1.24.3)
Installing collected packages: gTTS
Successfully installed gTTS-2.2.2

In [ ]:
from gtts import gTTS
from IPython.display import Audio
tts = gTTS('hello joyjit')
tts.save('1.wav')
sound_file = '1.wav'
Audio(sound_file, autoplay=True)

[テキスト文字列を音声に変換](https://nori-life-log.com/%E3%80%90python%E3%80%91%E6%96%87%E5%AD%97%E5%88%97%E3%82%92%E9%9F%B3%E5%A3%B0%E3%81%AB%E5%A4%89%E6%8F%9B%E3%81%99%E3%82%8B)

In [ ]:
pip install gtts

Requirement already satisfied: gtts in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from gtts) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gtts) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gtts) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gtts) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gtts) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gtts) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gtts) (2020.12.5)

In [ ]:
from gtts import gTTS

tts_ja = gTTS(text='こんにちは', lang='ja', slow=False)
tts_ja.save('hello_ja.mp3')
#tts_ja.save('hello_ja.wave')
tts_en = gTTS(text='hello', lang='en', slow=True)
tts_en.save('hello_en.mp3')

###以下のColabは音声合成用

でもちょっとよくわからない。

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb)

##算数で英語(参考）

###算数で英語/英語で算数(Japanese Math for Kids)

* 英語で算数の問題があるサイトなので，興味ある人のご参考

*   [Japanese Math for Kids](https://sites.google.com/site/japanesemathforkids2016/home)

*   英語で算数ドリル( [Japanese Math for Kids2](https://sites.google.com/view/japanesemathforkidsv2/home)  )

##Greek list (ギリシャ文字)


lowercase(小文字)

|  |  |||||||
|:------:|:------:|:------:|:------:|:------:|:------:|:------:|:------:|
|alpha |$\alpha$  ||iota|$\iota$||rho|$\rho$|
| beta |$\beta$  ||kappa|$\kappa$||sigma|$\sigma$|
| gamma |$\gamma$  ||lambda|$\lambda$||tau|$\tau$|
| delta |$\delta$  ||mu|$\mu$||upsilon|$\upsilon$|
| epsilon |$\epsilon$  ||nu|$\nu$||phi|$\phi$|
| zeta |$\zeta$  ||xi|$\xi$||chi|$\chi$|
| eta |$\eta$  ||omicron|o||psi|$\psi$|
| theta |$\theta$  ||pi|$\pi$||omega|$\omega$|

\
Uppercase(大文字)

|  |  |||||||
|:------:|:------:|:------:|:------:|:------:|:------:|:------:|:------:|
|alpha |A  ||iota|I||rho|P|
| beta |B  ||kappa|K||sigma|$\Sigma$|
| gamma |$\Gamma$  ||lambda|$\Lambda$||tau|T|
| delta |$\Delta$  ||mu|M||upsilon|$\Upsilon$|
| epsilon |E  ||nu|N||phi|$\Phi$|
| zeta |Z  ||xi|$\Xi$||chi|X|
| eta |H  ||omicron|O||psi|$\Psi$|
| theta |$\Theta$  ||pi|$\Pi$||omega|$\Omega$|

##Blender/ブレンダー(3D CG) with Python

`Blender`とは->[Wikipedia]（https://ja.wikipedia.org/wiki/Blender ）

Blender（ブレンダー）は，これだけで3DCG制作ができるいろいろな機能が備わっているソフトです。

オープンソースであるため，`誰でも無料で`使用することができます。

アニメーション映画、視覚効果、アート、3Dプリントモデルなどの作成に使用されます。

Blenderの開発は，Blender財団という非営利団体が行っています。

MicrosoftやAMD，NVIDIA，Google，Epic Gamesなども開発資金の支援を行っている注目のソフトの一つです。


[Blender Home]（https://www.blender.org/）

これは英語ですが，`Blender`を日本語化することはできます。

---
`Blender`で遊び始めたばかりなので，まだ紹介できるレベルではないですが，

うまくいけば，`Blender with Python`をお見せする機会があるかも。

後の巻（Vol.4かその後で）で。

ColabのBlenderレンダリングに関しては、Colab [blender-render] (https://colab.research.google.com/github/ynshung/blender-colab/blob/master/blender_render.ipynb)